/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote{
	border: #000000 1px solid; 
	padding: 2px; 
	font-size: 12px; 
	color: #000000; 
	background-color: #a3bee8;
}

.divbox{
	border: 1px solid #a3bee8;
	margin-bottom: 3px;
	text-align: center;
}

.textbox{
	border: 1px solid #a3bee8;
	padding: 5px;
	margin: 3px;
	line-height: 150%;
}

.popbox{
	position:absolute;
	width:190px !important;
	height:110px !important;
	width:200px;
	height:120px;
	border: 1px solid #a3bee8;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	display:none;
	z-index:9999;
}

.ajaxtip{
	position:absolute;
	border: 1px solid #a3bee8;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	z-index:1000;
}

#tips {
	border: 1px solid #a3bee8;
	padding: 3px;
	display: none;
	background: #f0f7ff;
	position: absolute;
	z-index: 2000;
}

#dialog{
	position:absolute;
	top:0px;
	left:0px;
	border: 5px solid #333333;
	background: #ffffff;
	font-size: 12px;
	line-height:120%;
	padding: 20px 10px 10px 10px;
	visibility: hidden;
}

#mask{
	position:absolute;
	top:0px;
	left:0px;
	background: #777777;
	filter: Alpha(opacity=30);
	opacity: 0.3;
}
.tablist ul{height:25px; margin:0px 0px 0px 10px; padding:0px;}
.tablist li{float:left; height:24px; list-style:none; margin-right:3px;}
.tablist li a{float:left; height:24px; line-height:24px; padding:0px 10px; display:block; background:#f0f7ff; text-decoration:none; color:#000000; border:1px solid #a3bee8; border-bottom:none; }
.tablist li a.selected{ background:#ffffff; height:25px; position:relative; margin-bottom:-1px;}
.tabcontent{clear:both; border:1px solid #a3bee8; padding:10px;}


/* menu */

#jieqi_menu{
	line-height: 20px;
	list-style-type: none;
}
#jieqi_menu a{
	display: block;
	width: 60px;
	text-align: center;
}
#jieqi_menu a:link{
	color: #ffffff;
	text-decoration: none;
}
#jieqi_menu a:visited{
	color: #ffffff;
	text-decoration: none;
}
#jieqi_menu a:hover{
	color: #ff6600;
	text-decoration: none;
}
#jieqi_menu li{
	float: left;
	width: 60px;
}
#jieqi_menu li a:hover{
	background: #ffffff;
}
#jieqi_menu li ul{
	line-height: 20px;
	list-style: none;
	text-align: left;
	display: none;
	width: 90px;
	position: absolute;
	border: 1px solid #a3bee8;
	z-index:9999;
}
#jieqi_menu li ul li{
	float: left;
	width: 90px;
	background: #e9f1f8;
}
#jieqi_menu li ul a{
	display: block;
	width: 80px !important;
	width: 90px;
	text-align:left;
	padding-left:10px;
}
#jieqi_menu li ul a:link{
	color:#2f468f;
	text-decoration:none;
}
#jieqi_menu li ul a:visited{
	color:#2f468f;
	text-decoration:none;
}
#jieqi_menu li ul a:hover{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:normal;
	background:#1979CC;
}
#jieqi_menu li:hover ul{
	display: block;
}
#jieqi_menu li.sfhover ul{
	display: block;
}
#jieqi_menu li.nohover ul{
	display: hide;
}

/* QQ登录绑定界面 */
.bindconbox { width:460px; height:340px; overflow:hidden; padding:15px 10px 15px 10px; background:#fff; margin:0 auto;}
.bindtit{ width:460px; height:58px; overflow:hidden;}
.bindtit dt { height:33px;line-height:33px; width:455px; padding-left:5px; font-weight:bolder; color:#000; font-size:14px;}
.bindtit dd { height:25px; padding-left:5px;}
.bindblock{ border:#a3bee8 1px solid;}
.bindtype{ width:460px; overflow:hidden; height:31px;}
.bindtype ul{ width:460px; overflow:hidden;}
.bindtype li {float:left;}
.bindtype li b { color:#fff; padding-right:14px;}
.bindtype A{ width:228px; display:inline; margin-right:2px; cursor:pointer; padding:8px 0px 0px 0px; text-align:center; height:21px; background:#5a91c7; float:left; color:#eff4f9;}
.bindtype A.selected { background:#d8eafb; height:23px; color:#2b2f32; width:228px;}
.bindtype A.selected b { color:#000;}
.bindcon{ width:458px; height:190px; background:#d9eafc; padding:10px 0px; overflow:hidden;}
#bindlogin INPUT,#bindlogin IMG{ vertical-align:middle;}
#bindregister INPUT,#bindregister IMG{ vertical-align:middle;}
.bindbtn{ width:460px; height:32px; overflow:hidden; padding:10px 0px; text-align:center;}
.bindbtn input { width:96px; height:31px; overflow:hidden; vertical-align:middle; border:0; background:url('../img/loginWinBg.gif') no-repeat left top; font-size:14px; font-weight:bolder; color:#fff; cursor:pointer;}


/* QQ解绑界面 */
.unbindbox,.nobind { width:460px; text-align:center; overflow:hidden; padding:15px 10px 15px 10px; background:#fff; margin:0 auto;}
.unbindbtn { text-align:center; }
.unbindbtn input { width:96px; height:31px; overflow:hidden; vertical-align:middle; border:0; background:url('../img/loginWinBg.gif') no-repeat left top; font-size:14px; font-weight:bolder; color:#fff; cursor:pointer;}