UL.hotz {
	WIDTH: 480px; FLOAT: left; CLEAR: both
}
UL.hotz LI {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; WIDTH: 210px; PADDING-RIGHT: 6px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 4px
}
UL.hotz A.img {
	BACKGROUND-COLOR: #d9d9d9; MARGIN-TOP: 3px; ZOOM: 1; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 3px
}
UL.hotz A.img IMG {
	BORDER-BOTTOM: #610148 1px solid; POSITION: relative; BORDER-LEFT: #610148 1px solid; WIDTH: 92px; DISPLAY: block; HEIGHT: 117px; BORDER-TOP: #610148 1px solid; TOP: -3px; BORDER-RIGHT: #610148 1px solid; LEFT: -3px
}
UL.hotz A.img:hover {
	BACKGROUND-COLOR: #d9d9d9; TEXT-DECORATION: none
}
UL.hotp {
	MARGIN: 3px 6px 0px; WIDTH: 100%; FLOAT: left; CLEAR: both; _margin: -3px 6px 0
}
UL.top10 {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 27px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(images/libg04.gif) no-repeat 5px 8px; PADDING-TOP: 2px
}
UL.lj {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 196px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 4px
}
UL.lj LI {
	LINE-HEIGHT: 24px; WIDTH: 100%; FLOAT: left;
}
UL.bq {
	PADDING-LEFT: 55px; WIDTH: 700px; FLOAT: left
}
UL.bq LI {
	LINE-HEIGHT: 24px; WIDTH: 60px; WORD-WRAP: break-word; FLOAT: left; OVERFLOW: hidden
}
UL.wz {
	PADDING-BOTTOM: 7px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 7px
}
UL.wz LI {
	WIDTH: 50%; FLOAT: left
}
UL.pics {
	
}
UL.pics LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; MARGIN: 0px 10px; WIDTH: 118px; FLOAT: left
}
UL.pics LI IMG {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; WIDTH: 108px; PADDING-RIGHT: 4px; FLOAT: left; HEIGHT: 136px; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid; PADDING-TOP: 4px
}
UL.zz {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: both; PADDING-TOP: 6px
}
UL.zz LI {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 7px; TEXT-INDENT: 18px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(images/cic.gif) no-repeat 0px 9px; FLOAT: left; COLOR: #ccc; PADDING-TOP: 8px
}
UL.zz LI A {
	FLOAT: left
}
.border {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
.ad IMG {
	DISPLAY: block
}
.ad {
	WIDTH: 100%; FLOAT: left
}
.ad01 {
	MARGIN: 8px auto
}
.content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.content01r {
	LINE-HEIGHT: 22px; BACKGROUND: url(images/gg_bg.gif); HEIGHT: 68px; OVERFLOW: hidden
}
.content02 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: url(images/boxbg05.gif) repeat-x 0px 0px; PADDING-TOP: 12px
}
.content03 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.content04 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 24px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.content05 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
H2 {
	LINE-HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 12px
}
H2.a {
	TEXT-INDENT: 14px; BACKGROUND: url(images/libg03.gif) no-repeat 0px center
}
.tit1 H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(images/boxbg03.gif); FLOAT: left; PADDING-TOP: 0px
}
.tit1 SPAN.right {
	LINE-HEIGHT: 31px; PADDING-RIGHT: 12px
}
DL {
	LINE-HEIGHT: 28px; CLEAR: both; FONT-SIZE: 12px; _line-height: 29px
}
DT {
	FLOAT: left; COLOR: #fe6319
}
DD {
	FLOAT: left
}
DD.title {
	WIDTH: 330px; MARGIN-LEFT: 3px
}
DD.author {
	TEXT-ALIGN: center; WIDTH: 90px
}
DD {
	COLOR: #909090
}
DD A {
	COLOR: #909090
}
DD.title A {
	COLOR: #1a1a1a; FONT-SIZE: 14px
}
DD.title A.t {
	COLOR: #909090; FONT-SIZE: 12px
}
DD.author {
	COLOR: #1a1a1a
}
.z {
	COLOR: #69034e
}
.margintop9px {
	MARGIN-BOTTOM: 9px
}
.marginleft9px {
	DISPLAY: inline; MARGIN-LEFT: 9px
}
.fbg {
	WIDTH: 7px; BACKGROUND: url(images/boxbg04.gif); FLOAT: left; HEIGHT: 31px
}
.tit {
	BACKGROUND: url(images/boxbg01.gif); HEIGHT: 32px; OVERFLOW: hidden
}
.tit1 {
	MARGIN: 1px; BACKGROUND: url(images/boxbg02.gif); HEIGHT: 31px
}
.tit3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.tit3 H2 {
	FLOAT: left; CURSOR: pointer
}
.tit3 H2.up {
	WIDTH: 74px; PADDING-RIGHT: 2px; BACKGROUND: url(images/h2up.gif); COLOR: #69034e; OVERFLOW: hidden
}
.tit3 H2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 36px; WIDTH: 76px
}
.box17 .b_box {
	WIDTH: 170px; FLOAT: left
}
.box17 .p_box {
	WIDTH: 70px; FLOAT: left; PADDING-BOTTOM:1PX;
}
.p_box IMG {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; WIDTH: 86px; PADDING-RIGHT: 4px; FLOAT: left; HEIGHT: 108px; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid; PADDING-TOP: 4px
}
.box17 .p_box IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 68px; PADDING-RIGHT: 0px; HEIGHT: 88px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.w_box {
	LINE-HEIGHT: 22px; WIDTH: 218px; FLOAT: right; COLOR: #929292
}
.box17 .w_box {
	LINE-HEIGHT: 17px; PADDING-LEFT: 6px; WIDTH: 94px; FLOAT: left
}
.box17 .w_box H3 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
.w_box H3 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 4px
}
.clear {
	CLEAR: both
}
.box04 {
	FLOAT: left
}
.box05 {
	WIDTH: 261px; BACKGROUND: url(images/hotbg02.gif) no-repeat 0px 0px; HEIGHT: 391px; COLOR: #fff
}
.box06r {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 216px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.box06r H2 {
	LINE-HEIGHT: 33px; TEXT-INDENT: 12px; BACKGROUND: url(images/boxbg_1.gif) no-repeat 0px 0px; HEIGHT: 33px; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.box07 {
	WIDTH: 462px; FLOAT: left; MARGIN-LEFT: 7px
}
.box08 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(images/hotbg.gif); HEIGHT: 130px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.box08 H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "¢ýýýzý"; FONT-SIZE: 18px; PADDING-TOP: 17px
}
.box08 H3 A {
	COLOR: #3e7300
}
.box08 H4 {
	FONT-SIZE: 12px
}
.box08 H4 A {
	COLOR: #1b6220
}
.box09 {
	WIDTH: 460px; HEIGHT: 316px; OVERFLOW: hidden
}
.box09 .left {
	WIDTH: 98px
}
.box09 .right {
	WIDTH: 108px
}
.box09 P {
	LINE-HEIGHT: 21px; COLOR: #909090
}
.box09 H5 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.box10 {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 217px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.box10 H3 {
	PADDING-BOTTOM: 5px; TEXT-INDENT: 4em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "¢ýýýzý"; BACKGROUND: url(images/no1.gif) no-repeat 5px 7px; FONT-SIZE: 14px; PADDING-TOP: 9px
}
.box10 H3 A {
	COLOR: #000
}
.box11 {
	PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #f6f6f6; MARGIN: 8px auto; PADDING-LEFT: 20px; WIDTH: 918px; PADDING-RIGHT: 20px; CLEAR: both; WORD-SPACING: 13px; PADDING-TOP: 8px
}
.box12 {
	MARGIN: 0px auto; WIDTH: 960px; OVERFLOW: hidden
}
.box13 {
	WIDTH: 730px; FLOAT: left
}
.box14 {
	WIDTH: 221px; FLOAT: right
}
.box14 .box10 {
	FLOAT: left
}
.box15 {
	WIDTH: 358px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden
}
.box16 {
	WIDTH: 728px; OVERFLOW: hidden
}
.box17 {
	WIDTH: 178px; OVERFLOW: hidden
}
.box18 {
	WIDTH: 180px
}
.box19 {
	WIDTH: 539px
}
.box20 {
	WIDTH: 220px
}
.box21 {
	WIDTH: 726px; MARGIN-BOTTOM: 9px; BACKGROUND: url(images/boxbg06.gif) no-repeat 0px 0px; HEIGHT: 61px; OVERFLOW: hidden
}
#picbox {
	OVERFLOW: hidden
}
#picbox IMG {
	BORDER-BOTTOM: #fff 3px solid; BORDER-LEFT: #fff 3px solid; WIDTH: 240px; HEIGHT: 288px; BORDER-TOP: #fff 3px solid; BORDER-RIGHT: #fff 3px solid
}
#flash_show {
	MARGIN: 6px 0px 0px 6px
}
#picbox .nextbutton {
	MARGIN-TOP: 14px; HEIGHT: 22px; OVERFLOW: hidden
}
#picbox .nextbutton .n {
	WIDTH: 24px; FLOAT: right; HEIGHT: 24px; MARGIN-RIGHT: 8px
}
#picbox .nextbutton .n A {
	WIDTH: 19px; DISPLAY: block; BACKGROUND: url(images/button_jd01.png) no-repeat; FLOAT: left; HEIGHT: 19px; OVERFLOW: hidden; _background: none
}
#picbox .nextbutton .n A:hover {
	BACKGROUND: url(images/button_jd02.png) no-repeat; CURSOR: hand; _background: none
}
#picbox H1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; WIDTH: 200px; DISPLAY: inline; FLOAT: left; HEIGHT: 22px; MARGIN-LEFT: 5px; FONT-SIZE: 18px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
#picbox H1 A {
	COLOR: #fff; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
#picbox H1 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#picbox SPAN SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; WIDTH: 245px; PADDING-RIGHT: 0px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 4px
}
#flash_show_ctl_msg {
	FILTER: progid:DXImageTransform.Microsoft.Fade(Overlap=1.00)
}
#flash_img {
	FILTER: progid:DXImageTransform.Microsoft.Fade(Overlap=1.00); OVERFLOW: hidden
}
