/* basic */
*{
	margin: 0px;
	padding: 0px;
}

body{
	background: transparent;
	text-align: center;
	font: 12px/120% ו,Verdana,Arial,sans-serif;
}

a{
	color: #4a4a4a;
	text-decoration: none;
	background-color: transparent;
}

a:hover{
	color: #0033ff;
}

span{
	line-height: 120%;
}

p{
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6{
	font-size: 16px;
	line-height: 150%;
}

img{
	border: 0px;
}

div{
	text-align: left;
}

hr{
	height: 1px;
	border: 1px solid #a4cded;
	clear: both;
	margin: 5px 0px;
}

ul{
	list-style: none;
	clear: both;
	text-align: left;
}

li{
	line-height: 150%;
}

/* table */
table{
	text-align: left; 
	font: 12px/120% ו,Verdana,Arial,sans-serif;
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #a4cded;
	padding: 3px;
	margin: auto;
}

table.grid caption, .gridtop{
	border: 1px solid #a4cded;
	background: #e9f1f8;
	background-image: url("image/caption_bg.gif");
	vertical-align: middle; 
	text-align: center;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.grid th, .head{
	border: 1px solid #a4cded;
	background: #f0f7ff;
	color:#054e86;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.grid td{
	border: 1px solid #a4cded;
	background-color: #ffffff !important; 
	padding-top: 4px;
	padding-bottom: 4px;
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

/* table add-ons */

.title{
	background: #e9f1f8;
	text-align: center;
	padding: 3px;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
}

.even{
	background: #ffffff; 
	padding: 3px;
}

.odd{
	background: #ffffff; 
	padding: 3px;
}

.foot{
	background: #f0f7ff; 
	padding: 3px; 
	text-align: center;
}

.bottom{
	height: 9px;
	background: #b7b785; 
}


/* form */

form{}

input{}

.text{
	border: 1px solid #a4cded; 
	background: #ffffff;
	color: #054e86;
	height: 20px;
}

.textarea{
	border: 1px solid #a4cded; 
	background: #ffffff;
	color: #054e86; 
}

.button{
		background: #ddf2ff;
		border: 1px solid #a4cded; 
		height: 20px;
		padding: 2px 0px 0px 0px;
}

.checkbox, .radio{border-width: 0px;}

.select{height: 18px;}

/* structure */

#wrapper{}

#left{
	float: left;
	width: 185px;
	margin-right:6px;
}

#right{
	float: right;
	width: 185px;
}

#centers{
	float: left;
	width: 578px;
}

#centerm{
	float: left;
	width: 768px;
}

#centerl{
	float: left;
	width: 960px;
}

#content{

}

.main{
	width: 960px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.m_top{
	line-height: 27px;
	height: 27px;
	background-image: url("image/m_top_bg.gif"); 
	background-repeat: repeat-x;
}

.m_head{
	height: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.h_logo{
	float:left;
	width:180px;
}

.h_banner{
	float:left;
}

.h_link{
	float:right;
	width:90px;
	padding-top:6px;
}

.m_menu{
	background:#55a0ff;
	height:22px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	padding-top:3px;
	margin-bottom:3px;
}

.m_foot{
	text-align:center;
	padding: 20px 0px;
	margin-top:3px;
	margin-bottom:10px;
	border-top: 1px dashed #A4CDED;
	border-bottom: 1px dashed #A4CDED;
}

.block{
	border: 1px solid #a4cded;
	margin-bottom: 5px;
}

.blocktitle{
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 1px solid #ffffff;
	font-weight: bold;
	font-size: 14px;
	background: #d1e4fd;
	color: #054e86; 
	height: 26px; 
	line-height: 26px; 
	padding-left: 10px;
}

.blockcontent{
	border-top: 1px solid #a3bee8;
	padding: 3px;
}

.blocknote{
	border-top: 1px solid #a4cded;
	padding: 3px;
	text-align: center;
	background: #f0f7ff;
	line-height: 150%;
}

.blocktitle span0{
	position: relative;
	bottom: -5px;
	border-top: 1px solid #a4cded;
	border-left: 1px solid #a4cded;
	border-right: 1px solid #a4cded;
	background: #ffffff;
	padding: 3px 6px 3px 6px;
	color: #c42205;
	height: 22px;
	line-height: 22px; 
}

.blocktitle .txt{
	background-image: url("image/title_l.gif");
	background-repeat: no-repeat;
	color: #0049A0;
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 8px;
	padding-top: 7px;
}

.blocktitle .txtr{
	background-image: url("image/title_r.gif");
	background-repeat: no-repeat;
	float: left;
	height: 27px;
	width: 7px;
}

#left .blocktitle, #right .blocktitle{
	border: 0px;
	background-image: url("image/title_bg.gif");
	background-repeat: repeat-x;
	height: 27px;
}

#left .blockcontent, #right .blockcontent{
	border: 0px;
	background: #ffffff;
}

/* custom */

.ultop li{list-style: decimal inside; margin: 3px 4px; border-bottom: 1px dashed #d8e4ef; color: #1b74bc;}
.ultop li a{color: #c42205;}
.ulitem li{list-style: circle inside; margin-left: 3px;}
.ulrow li{padding:3px;}
.ulcenter li{text-align: center;}
.ulmul{overflow: hidden;}

.fix, .lm{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.more{text-align: right;}

.c_title{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 200%;
}

.c_head{
	line-height: 150%;
}

.c_content{
	font-size: 14px;
	line-height: 150%;
}

.c_foot{
	line-height: 150%;
}

.c_label{
	font-weight: bold;
}

.c_value{
}

/* attention */

.hottext, a.hottext{color: #ff0000;}
.poptext, a.poptext{color: #c42205;}
.notetext, a.notetext{color: #1979cc;}
.errortext, a.errortext{color: #ff0000;}

a.btnlink{color: #000000; background: #ddf2ff; border:1px solid #a4cded; height:20px; padding: 2px 10px 0px 10px;}
a.btnlink:hover{background: #cccccc;}


/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote{
	border: #000000 1px solid; 
	padding: 2px; 
	font-size: 12px; 
	color: #000000; 
	background-color: #a4cded;
}

.divbox{
	border: 1px solid #a4cded;
	margin-bottom: 3px;
	text-align: center;
}

.textbox{
	border: 1px solid #a4cded;
	padding: 5px;
	margin: 3px;
	line-height: 150%;
}

.popbox{
	position:absolute;
	width:190px !important;
	height:110px !important;
	width:200px;
	height:120px;
	border: 1px solid #a4cded;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	display:none;
	z-index:9999;
}

#tips {
	border: 1px solid #a4cded;
	padding: 3px;
	display: none;
	background: #f0f7ff;
	position: absolute;
	z-index: 2000;
}

.tablist ul{height:25px; margin:0px 0px 0px 10px; padding:0px;}
.tablist li{float:left; height:24px; list-style:none; margin-right:3px;}
.tablist li a{float:left; height:24px; line-height:24px; padding:0px 10px; display:block; background:#f0f7ff; text-decoration:none; color:#000000; border:1px solid #a4cded; border-bottom:none; }
.tablist li a.selected{ background:#ffffff; height:25px; position:relative; margin-bottom:-1px;}
.tabcontent{clear:both; border:1px solid #a4cded; padding:10px;}

.pages{
	padding: 5px 0px;
}
.pagelink{
	border: 1px solid #a4cded;
	float: right;
	background: #f0f7ff;
	line-height:24px;
	padding:0;
}
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{
	float: left;
	padding: 0 6px;
}
.pagelink a:hover{background-color: #ffffff; }
.pagelink strong{font-weight: bold; color: #ff6600; background: #e9f1f8;}
.pagelink kbd{height:24px; border-left: 1px solid #a4cded;}
.pagelink em{height:24px; border-right: 1px solid #a4cded; font-style:normal;}
.pagelink input{border: 1px solid #a4cded; color: #054e86; margin-top:1px; height: 18px;}

/* menu */

.nav {
    position: relative;
    background: url("image/nav_bg.png") no-repeat 0 -36px;
	margin-bottom:3px;
}
.navinner {
    background: url("image/nav_bg.png") no-repeat 100% -72px;
}
.navlist {
    height: 36px;
    overflow: hidden;
    margin: 0px;
    background: url("image/nav_bg.png") repeat-x 0 0;
}
.nav li {
	height: 36px;
    line-height: 36px;
    float: left;
    display: inline;
    margin: 0 0 0 -2px;
    padding: 0 4px 0 6px;
    background: url("image/nav_bg.png") no-repeat 0 -108px;
}
.nav a {
    display: block;
    width: 85px;
    text-align: center;
    font-size: 120%;
}
.nav a:link, .nav a:visited {
    color: #fff;text-decoration:none;
}
.nav a.current, .nav a:hover, .nav a:active {
    color: #fff;
    font-weight: bold;
    background: url("image/nav_bg.png") no-repeat 50% -144px;
}
.subnav {
    position: absolute;
    top: 40px;
    left: 0;
    float: left;
    height: 27px;
    white-space: nowrap;
    line-height: 27px;
    background: url("image/nav_bg.png") no-repeat 0 -180px;
}
* html .subnav {
    margin: 0 10px 0 -10px;   /* IE 6 and below */
}
.subnav p {
    padding: 0px 10px;
    background: url("image/nav_bg.png") no-repeat 100% -234px;
}
.subnav p span {
    display: block;
	height: 27px;
	line-height: 27px;
    background: url("image/nav_bg.png") repeat-x 0 -207px;
}
.subnav p.pointer {
    position: absolute;
    top: -4px;
    left: 0;
    height: 5px;
    width: 11px;
    padding: 0;
    margin-left: 20px;
    text-indent: -999em;
    background: url("image/nav_bg.png") repeat-x 0 -261px;
}
.subnav a {
    display: inline;
    padding: 0;
    font-size: 100%;
}
[class~="subnav"] a {
    padding: 0 3px;
}
.subnav, .subnav a:link, .subnav a:visited {
    color: #235e99;
}
.subnav a:hover, .subnav a:active {
    color: #235e99;
}
.subnav a:hover, .subnav a:active {
    font-weight: normal;
    background: none;
    border-bottom: 1px solid;
}
/* subnav position and pointer position */
#subnav1 { left: 80px; }
#subnav2 { left: 170px; }
#subnav3 { left: 260px; }
#subnav4 { left: 350px; }
#subnav5, #subnav6, #subnav7, #subnav8 { 
    left: auto;
    right: 0px;
}

#subnav1 .pointer,
#subnav2 .pointer,
#subnav3 .pointer,
#subnav4 .pointer { left: 30px; }
#subnav5 .pointer { left: auto; right: 450px; }
#subnav6 .pointer { left: auto; right: 350px; }
#subnav7 .pointer { left: auto; right: 260px; }
#subnav8 .pointer { left: auto; right: 160px; }

#subnav1, #subnav2, #subnav3, #subnav4 {
    min-width: 110px;
}
#subnav5 { min-width: 340px; }
#subnav6 { min-width: 240px; }
#subnav7 { min-width: 130px; }
.disable { display: none; }