body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin:0;padding:0;outline: 0}
table{border-collapse:collapse;border-spacing:0}
fieldset, img, img a{border:0}
address, caption, cite, code, dfn, em, th, var{font-style:normal;font-weight:normal}
ol, ul{list-style:none}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%}
q:before, q:after{content:''}
abbr, acronym{border:0}
button{cursor:pointer}
body{color:#333;font-family: "宋体", Arial, Helvetica, sans-serif;font-size:12px;}
input, textarea{font-size:12px;padding:3px 2px 1px}
input.radio{border:0}
textarea{resize:none}
input{line-height:1.2em;overflow:hidden}
input, textarea, select{*font-size:100%}
.wordbreak{word-wrap:break-word;word-break:break-all}
.msyh{font-family:"微软雅黑"}
a{text-decoration: none;color:#186ab6}
a.line{text-decoration:underline}
a:hover{text-decoration:underline}
.font_14{font-size:14px;line-height:24px}
.font_12{font-size:12px}
.font_16{font-size:16px}
.font_18{font-size:18px}
.font_20{font-size:20px}
.fb{font-weight:bold}
.height30{height:30px}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.w554{width:554px}
.w210{width:210px}
.w380{width:380px}
.w251{width:251px}
.list4col li{float:left;width:24.2%}
.list10col li{float:left;width:9.9%}
.mb100{margin-bottom:100px}
.mr10{margin-right:10px}
.red{color:red}
.black{color:#000}
.gray9{color:#999}
.min160{height:auto!important;min-height:160px;height:160px}
.min140{height:auto!important;min-height:140px;height:140px}
.H540{height:530px;overflow:hidden;>height:580px}
.btn_normal, .btn_normal em, .btn_normal1, .btn_normal1 em{display:-moz-inline-stack;display:inline-block;background:url(/images/mblog_btn.gif) no-repeat right -28px;height:23px;color:#333;line-height:23px;font-size:12px;font-weight:normal;cursor:pointer;text-decoration:none}
.btn_normal{background-position:0 0;display:inline-block;height:23px;line-height:23px;padding-left:20px;margin-left:38px}
.btn_normal em{background-position:right -28px;display:inline-block;height:23px;padding-right:20px}
a.btn_normal:hover{background-position:0 -55px;text-decoration:none}
a.btn_normal:hover em{background-position:right -83px;display:inline-block;height:23px;text-decoration:none}
.btn_normal1 em{background-position:right -142px;display:inline-block;height:23px;padding-right:20px}
.btn_normal1{background-position:0 0;display:inline-block;height:23px;line-height:23px;padding-left:20px}
a.btn_normal1:hover{background-position:0 -55px;text-decoration:none}
a.btn_normal1:hover em{background-position:right -83px;display:inline-block;height:23px;text-decoration:none}
a.btn_green, a.btn_green em{display:-moz-inline-stack;display:inline-block;background:url(/images/mblog_btn.gif) no-repeat right -252px;height:28px;color:#333;line-height:28px;font-size:14px;font-weight:normal;cursor:pointer;text-decoration:none}
a.btn_green{background-position:left -222px;padding-left:10px}
a.btn_green em{padding-right:10px;color:#fff}
a.btn_green:hover{background-position:left -282px;text-decoration:none;color:#fff}
a.btn_green:hover em{background-position:right -312px;text-decoration:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.mainbody{width:800px;margin:0 auto;border:1px solid #bbe8f3;background:#fafdfe url(/images/mail_bg.png) repeat-x scroll}
.mainbody .mainbody_bg{background:transparent url(/images/mainbody_bg.png) repeat-y right top}
.mainbody_bg:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mainbody_bg{display:inline-block}
* html .mainbody_bg{height:1%}
.mainbody{display:block}
.mainR{float:right;width:200px;background-color:#d9f4f8; position:relative; z-index:1000}
.mainL{float:left;width:600px;padding-top:20px}
.userinfo{ position:relative; zoom:1; z-index:1000}
.userinfo .user_head{padding:10px 0 0 10px}
.user_head:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.user_head{display:inline-block}
* html .user_head{height:1%}
.user_head{display:block}
.userinfo .user_head div{width:74px;float:left}
.userinfo .user_head .picborder_r{width:110px}
.userinfo .user_head .picborder_r img{width:96px;height:96px;background:#fff;border:1px solid #d8d8d8;padding:1px}
.userinfo .user_head p{padding:3px 0 5px}
.userinfo .user_head p.font_14{white-space:normal;word-wrap:break-word}
.addfensi{background:url(/images/auther_002.png) repeat scroll -70px 0 transparent;padding:0 0 0 40px;height:20px;clear:both}
.addfensi a{color:#f00}
.userinfo .user_atten{height:55px;margin:0 10px;border-bottom:1px dashed #9a9899}
.userinfo .user_atten ul{margin-top:5px}
.userinfo .user_atten ul li{border-right-width:1px;min-width:43px;_width:43px;_overflow:visible;float:left;padding-left:5px;line-height:1.6em;white-space:nowrap}
.userinfo .user_atten ul li .num{font-family:Arial;font-size:18px}
.MIB_line_r{border-right:1px solid #dbb7a9}
.pvisit{clear:both;background:url(/images/icon.gif) no-repeat -68px -68px;height:24px;padding:10px 0 0 30px;margin:5px 10px}
a.pvisit1{height:23px;font-size:12px;padding:0px 0px 0px 0px;margin:0px 10px;background:url(/images/space_guanzhu.gif) 0 0 no-repeat;width:57px;display:block;margin:0px auto}
.pvisit2{background:url(/images/space_guanzhu_over.gif) 0 0 no-repeat;width:78px;height:19px;display:block;margin:0px auto;padding:4px 10px 0 5px}
.main_title{position:relative;margin:10px 0 20px;border-top:1px solid #CDDAEA;width:200px; z-index:1}
.li_five{height:204px}
.li_three{height:136px}
.right_nav{position:absolute;right:-5px;z-index:10}
.right_nav ul li{background:url(/images/auther_002.png) repeat scroll 0 -101px transparent;font-size:14px;height:34px;line-height:33px;overflow:hidden;position:relative;width:220px;display:block}
.right_nav ul li a{display:block;padding-left:30px;height:34px;overflow:hidden}
.right_nav ul li.on a{background:url(/images/auther_002.png) repeat scroll 0 -35px transparent;color:#FFFFFF}
.right_nav ul li.on a:hover{background:url(/images/auther_002.png) repeat scroll 0 -35px transparent;color:#FFFFFF}
.right_nav ul li.on a{color:#fff!important}
.right_nav ul li a:hover{background:url(/images/auther_002.png) repeat scroll 0px -69px transparent;text-decoration:none}
.f_pro{margin:0 10px 20px}
.f_pro .title{height:30px}
.f_pro .title span{float:right;font-size:12px}
.user_recom li{text-align:center;float:left;width:33%;height:92px;overflow:hidden}
.minh75 .user_recom li{height:78px;overflow:hidden}
.f_pro .user_recom img{width:48px;height:48px;background:#fff;margin:0 auto 2px;padding:1px}
.f_pro .user_recom p{display:block;width:55px;white-space:nowrap;margin:0 auto;height:17px;overflow:hidden}
.f_pro .user_recom p.name a{height:17px;font-family:"宋体";font-size:12px;line-height:16px}
.f_pro .user_recom p.main_txtbr{color:#999;text-align:center}
.f_pro .user_recom p.gray9{color:#999}
.f_pro .user_recom p.main_txtbr a{color:#6eaed4}
.user_recom:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.user_recom{display:inline-block}
* html .user_recom{height:1%}
.user_recom{display:block}
.main_mbloghead{margin:-20px 0 20px;position:relative;z-index:2}
.blog_bg{position:absolute;width:200px;height:40px;font-size:18px;font-weight:bold;left:15px;top:15px;color:#22A515;background:url(/images/auther_002.png) no-repeat -95px -862px}
.wordNumBg{color:#22a515;font-weight:bold;position:absolute;right:34px;top:14px}
.wordNumBg span{font-family:Constantia, Georgia;font-size:30px;font-weight:normal;vertical-align:-2px}
.inputarea{display:block;height:72px;padding-left:20px;padding-top:55px;width:550px}
.inputarea textarea{font-size:14px;height:70px;line-height:150%;overflow-x:hidden;overflow-y:auto;padding:0;width:550px;border:1px solid #999;background:url(/images/auther_001.gif) repeat 0 -170px #fff}
.postBtnBg{height:30px;padding:10px 0 0 476px;width:100px;display:block}
.postBtnBg a{background:url(/images/space_btn_on.gif) 0 0 no-repeat;display:block;height:35px;line-height:32px;padding-right:26px;width:70px;color:#FFFFFF;font-size:14px;text-align:center}
.postBtnBg a:hover{text-decoration:none;background:url(/images/space_btn_over.gif) 0 0 no-repeat}
.main_listL_clear{margin-bottom:25px}
.main_listL_clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.main_listL_clear{display:inline-block}
* html .main_listL_clear{height:1%}
.main_listL_clear{display:block}
.main_list{margin:0 20px}
.main_list h2, .main_list h4, .main_list h5{font-size:14px;line-height:30px;height:30px;margin-bottom:20px;border-bottom:1px solid #bbe8f3}
.main_list h2 span, .main_list h4 span, .main_list h5 span{float:right;font-size:12px;font-weight:normal}
.main_list h2 span{display:inling-block;height:21px}
.main_list h2 span img{margin:5px 5px 0 0;_margin-top:3px}
.main_list .rt{text-align:right;margin:-10px 15px 10px}
.main_listL_one{font-size:14px;line-height:150%;background:url(/images/line.gif) repeat-x left bottom;padding:0 5px 8px;margin:0 0 15px}
.main_listL_one p.time{color:#999;font-size:12px}
.main_listL_2{width:47%;height:150px;float:left;background:url(/images/line.gif) repeat-x left bottom;margin:0 1% 20px 1%;display:inline;position:relative;zoom:1}
.main_listL_2 .pic{float:left;width:102px;height:125px;margin-right:10px}
.main_listL_2 .pic img{float:left;background:#fff;border:1px solid #a4a4a4;padding:2px;width:96px;height:120px}
.main_listL_2 h3{float:left;width:143px;margin-bottom:5px;font-size:14px;text-indent:-7px;font-weight:normal}
.main_listL_2 h3 a{color:#186ab6;font-weight:bold}
.main_listL_2 p{float:left;width:143px;font-size:12px;line-height:20px;padding-bottom:2px;word-wrap:break-word}
.main_listL_2 .sms1{height:98px;overflow:hidden}
.main_listL_2 .sms2{height:18px;overflow:hidden}
.main_listL_2 .sms3{height:80px;overflow:hidden}
.main_listL_3{background:url(/images/line.gif) repeat-x left bottom;padding-bottom:15px;position:relative;zoom:1;margin-bottom:15px;height:135px}
.main_listL_3 h3{margin:0 0 5px 120px;font-size:14px;text-indent:-7px;font-weight:normal}
.main_listL_3 h3 a{color:#186ab6;font-weight:bold}
.main_listL_3 h3 img{margin-top:-3px}
.main_listL_3 p{margin:0 0 5px 120px;font-size:12px;line-height:20px;padding-bottom:2px;word-wrap:break-word;width:400px}
.main_listL_3 .sms2{height:18px;overflow:hidden}
.main_listL_3 .pic img{position:absolute;top:0;left:0px;background:#fff;border:1px solid #a4a4a4;padding:2px;width:96px;height:120px}
.main_listL{padding:0 0 10px 12px;margin:0 0 20px;background:url(/images/line.gif) repeat-x left bottom;position:relative;zoom:1}
.main_listL h3{margin-bottom:5px;font-size:14px;font-weight:normal;text-indent:-7px}
.main_listL h3 a{color:#186ab6}
.main_listL .pic{position:absolute;right:10px;top:0;width:102px;text-align:center}
.main_listL .pic img{background:#fff;border:1px solid #a4a4a4;padding:2px;width:96px;height:120px;margin-bottom:5px}
.main_listL p{width:400px;font-size:12px;line-height:20px;word-wrap:break-word}
.main_listL .sms2{height:16px;overflow:hidden;padding-bottom:6px}
.main_listL .edit{margin-right:150px}
.none_line{background:none}
.pic_2{float:left;width:126px;margin-left:0px;margin-right:10px}
.pic_2 img{float:left;position:relative;zoom:1;background:#fff;border:1px solid #a4a4a4;padding:2px;width:120px;height:150px}
.pic_3{float:left;width:136px;text-align:center;height:170px}
.pic_3 p{width:120px;text-align:center;word-wrap:break-word;word-break:break-all;margin:0 auto}
.pic_3 img{vertical-align:middle}
.pic_3 img.pic{display:block;background:#fff;border:1px solid #a4a4a4;padding:2px;width:96px;height:120px;margin:0 auto 5px}
img.pic_4{background:#fff;border:1px solid #a4a4a4;padding:1px;width:48px;height:48px;position:absolute;left:0px;top:0}
.xiaoshuo{padding:20px 18px 0;position:relative}
.special .list4col li, .space h3 span, .space h4, .space a.btn1 s, .list-space li, .list-daojv li, .list-top, .update .tab-hd h3{background-image:url(/images/xiaoshuo_bg.png);background-repeat: no-repeat}
.xiaoshuo-con{position:relative;zoom:1}
.xiaoshuo-con .main{width:505px}
.xiaoshuo-con .sidebar{width:247px;position:absolute;top:0;right:0}
.xiaoshuo .mod, .xiaoshuo .mod-1{margin-bottom:20px;position:relative;zoom:1}
.xiaoshuo .mod-2{border:1px solid #dcdcdc}
.xiaoshuo h2{font-size:14px;line-height:30px;height:30px;padding-left:10px;margin-bottom:15px;border-bottom:1px solid #bbe8f3}
.xiaoshuo h2 a{color:#333}
.xiaoshuo h2 a:visitied{color:#333;text-decoration:none}
.xiaoshuo h2 a:hover{color:#333;text-decoration:none}
.xiaoshuo .mod-hd-m{position:absolute;top:10px;right:5px}
.xiaoshuo .mod-2 h2{border-bottom:1px solid #dcdcdc;margin:0}
.xiaoshuo .mod-2 .mod-bd{padding:10px;position:relative;zoom:1}
.novel_info{float:left;width:470px;margin-bottom:10px;line-height:160%}
.xiaoshuo .edit{width:585px;padding:10px 0 0 15px;margin-bottom:-15px}
.special h2{border-bottom:1px dashed #ccc;margin-bottom:10px}
.special .list4col{margin-left:20px}
.special .list4col li{width:22.5%;padding-left:15px;background-position:-208px -113px;line-height:22px}
.fensiBook .list10col li{text-align:center}
.fensiBook li img.userPic{display:block;margin:0 auto 5px;width:48px;height:48px;border:1px solid #ccc;background:#fff;padding:1px}
.fensiBook li span.name{display:block;width:58px;white-space:nowrap;margin:0 auto}
.fensiBook li span.name img{margin:0 1px 0 0}
.space .mod-sub{float:left;width:225px;height:460px;overflow:hidden;padding:20px 10px 2px;border:1px solid #dfdfdf;position:relative;zoom:1}
.space .goldmedal{margin-right:10px}
.space .daojv{float:right}
.space h3{float:left;width:79px;height:117px;margin:0 10px 8px 0;position:relative}
.space h3 span{position:absolute;top:0;left:0;display:block;background-position: 0 -28px;width:79px;height:117px}
.space .bonus h3 span{background-position:0 -156px}
.space .daojv h3 span{background-position:0 -283px}
.space h4{clear:both;height:26px;font-weight:normal;line-height:21px;margin-left:5px;padding-left:10px}
.space h4 em{color:red;font-weight:700}
.space .mod-sub .more{color:#186ab6;line-height:27px;position:absolute;right:10px;bottom:1px;white-space:nowrap}
.list-space{float:left;width:130px;height:90px}
.list-space li{background-position:-204px -133px;padding-left:10px;line-height:21px}
.space a.btn1 span span{padding-right:14px;padding-left:0}
.space a.btn1 s{display:inline-block;background-position:-86px -116px;width:21px;vertical-align:middle;height:23px}
.space a.btn1{text-decoration:none}
.list-daojv{float:left;width:130px;height:117px;overflow:hidden;position:relative;zoom:1}
.list-daojv a.btn1{position:absolute;top:0;right:0;line-height:23px}
.list-daojv a.btn1:hover{text-decoration:none}
.list-daojv a.btn1 span span{padding-right:10px;padding-left:0}
.list-daojv li{line-height:28px;padding-left:39px;border-bottom:1px dotted #ccc;height:33px;margin-bottom:10px;position:relative}
.list-daojv li.li1{background-position:-119px -83px}
.list-daojv li.li2{background-position:-186px -29px}
.list-daojv li.li3{background-position:-152px -62px}
.list-top{background-position:-185px -146px}
.list-top li{border-bottom:1px dotted #ccc;height:27px;padding-left:20px;line-height:27px}
.list-userTop li{border-bottom:1px dashed #ccc;height:23px;padding-top:4px;position:relative}
.list-userTop li img{height:20px;width:20px;margin:0 8px 0 0;overflow:hidden}
.list-userTop li .name{display:inline-block;width:49px;margin:0 20px 0 10px;white-space:nowrap}
.list-userTop li .time{position:absolute;top:6px;right:0;color:#999}
.bonus .list-userTop li .name{margin:0 5px 0 0}
.update{position:relative;zoom:1;z-index:1;margin-top:-5px}
.update h2{position:relative;z-index:1}
.update .tab-hd{position:absolute;z-index:10;top:5px;right:0}
.update .tab-hd h3{float:left;width:98px;height:26px;overflow:hidden;line-height:26px;text-align:center;font-weight:normal;font-size:12px;margin-left:3px;cursor:pointer}
.update .tab-hd h3.menu1{background-position:-84px -193px}
.update .tab-hd h3.menu2{background-position:-84px -156px}
.update .tab-bd{border:1px solid #dcdcdc;padding:15px 23px;margin-top:-16px;line-height:160%;position:relative;z-index:2}
.update .tab-bd p.title{margin-bottom:10px;color:#999}
.fbpl .mod-bd{height:auto!important;min-height:60px;height:60px;padding:0 15px;line-height:180%}
.fbpl .mod-fd{border-top:1px dashed #ccc;margin-top:10px;padding:15px 10px 0 15px;line-height:160%}
.fbpl .mod-bd p{clear:both}
.fbpl .mod-bd label{float:left;width:40px;line-height:180%}
.fbpl .mod-bd input.title{border:1px solid #7f9db9;width:422px;height:18px;margin-bottom:6px}
.fbpl .mod-bd textarea{border:1px solid #a5acb2;width:422px;height:135px;margin-bottom:10px}
.fbpl p.button{clear:both;padding-left:40px;color:#888;position:relative;zoom:1}
.fbpl p.button input{cursor:pointer}
.fbpl p.button .face{background:url(/images/facebutton.gif) no-repeat;height:24px;width:64px;border:0 none;padding:0;position:absolute;top:0;right:7px}
.fbpl .faceimg{position: absolute;border:1px solid #ddd;background:#fff;padding:2px;margin:-120px 0 0 40px;width:420px;height:115px;zoom:1;overflow:hidden}
.fbpl .faceimg img{margin:2px;cursor:pointer}
div.addFollow{margin:-15px 0 15px}
div.addFollow dl{width:49.8%;float:left;border-bottom:1px dashed #ccc;height:70px;padding-top:15px;position:relative;zoom:1;z-index:1}
div.addFollow dt{margin:2px 0 2px 80px;font-size:14px}
div.addFollow dd{margin:0 0 0 80px;line-height:160%}
div.addFollow dd a{color:#186AB6}
div.addFollow dd a:hover{color:#186AB6}
div.addFollow dd a.addFollow:hover{color:#fff}
div.addFollow dd.selectBox{position:absolute;left:0;top:30px;margin-left:0}
div.addFollow dd.pic{position:absolute;left:20px;top:15px;margin-left:0}
div.addFollow dd.pic img{width:48px;height:48px;border:1px solid #ccc;background:#fff;padding:1px}
div.addFollow dd.add{position:absolute;right:20px;top:15px;margin-left:0}
div.addFollow dd.add .addBnt{background:#def3ff;border:1px solid #92c9e8;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px}
div.addFollow dd.add .addBnt:hover{background:#3986ca;text-decoration:none;border:1px solid #186ab6;color:#fff;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px}
div.addFollow dd.add .addBnt_Yet{background:url("/images/icon.gif") no-repeat scroll 5px -83px #eaeaea;border:1px solid #D7D7D7;color:#666666;cursor:default;display:block;height:18px;line-height:18px;overflow:hidden;text-decoration:none;width:56px;text-indent:1.2em}
a.btn6{display:block;background:url(/images/firstLogin.png) no-repeat 0 -90px;height:40px;color:#333;line-height:40px;font-size:12px;cursor:pointer;width:492px;text-align:center;margin:0 0 15px 30px}
a.btn6{background-position:0 -90px}
a.btn6 em{display:-moz-inline-stack;display:inline-block;background:url(/images/firstLogin.png) no-repeat 0 -200px;height:40px;padding-left:18px}
a.btn6:hover{background-position:0 -140px;text-decoration:none}
a.btn6:hover em{text-decoration:none}
.bg_lightblue{background:url(/images/firstLogin.png) no-repeat 0 0;width:560px;height:80px}
.bg_lightblue div{padding:25px 0 0 20px}
ul.novel_msg li{float:left;margin-bottom:0;width:46%;line-height:23px;text-align: left}
.pl dl{position:relative;margin-left:15px;margin-bottom:10px;background:url(/images/auther_001.gif) repeat scroll 0 bottom;padding-bottom:10px}
.pl dl h3{font:normal 14px/24px Arial;color:#666;font-weight:normal}
.pl dl h3, .pl dl dt, .pl dl dd{margin-left:60px}
.pl dl h3 span a:link, .pl dl h3 span a, .pl dl dd b a:link{margin:0 2px;color:#666}
.pl dl h3 span a:hover{color:#000}
.pl dl dd a:hover{color:#f00}
.pl dl h3 span em{color:#090;font-style: italic;margin-left:5px}
.pl dl h3 b, .pl dl dt b{font-weight:bold;margin:0 5px;color:#f00;font-size:12px}
.pl dl dt{line-height:20px;margin-top:8px;color:#666;padding:0 18px 0 25px}
.pl dl dt em img{ margin:0 1px;}
.pl dl h3 input, .shop input{float:left;margin:4px 3px 0 0}
.pl dl h3 input{margin:5px 4px 0 0;_margin:1px 2px 0 -4px;#margin:1px 2px 0 -4px}
.pl dl dd{padding:0 18px 0 25px;line-height:20px;margin-top:9px}
.pl dl dd em a:link, .pl .page .right span{color:#1A53FF}
.fensi{background:url(/images/line.gif) repeat-x left bottom;position:relative;zoom:1;height:94px;margin:-10px 0 10px}
.fensi_new{background-image:url(/images/fensi_new_bg.png)}
.fensi img.pic_4{background:#fff;border:1px solid #a4a4a4;padding:1px;width:48px;height:48px;position:absolute;left:5px;top:20px}
.fensi h6{font-size:14px;padding-top:20px;margin:0 0 5px 70px;font-weight:normal}
.fensi p{margin:0 0 5px 70px}
.addfensi{clear:both;margin:10px 0 0 10px;background:url(/images/auther_002.png) repeat scroll -70px 0 transparent;padding:5px 0 5px 40px;height:20px}
.addfensi a{color:#f00!important;padding:0 5px}
.conBox_r{position:absolute;right:10px;top:20px;width:58px;text-align:center}
.conBox_r a.del{text-decoration: underline}
.concernBtn_Yet{background:none repeat scroll 0 0 #eaeaea;border:1px solid #D7D7D7;color:#666666;cursor:default;display:block;height:18px;line-height:18px;overflow:hidden;text-align:left;text-decoration:none;width:56px;margin-bottom:5px}
a.concernBtn_Yet:hover{text-decoration:none}
.add_yet{background:url(/images/icon.gif) no-repeat scroll 3px -83px transparent;height:16px;width:14px;display:block;float:left}
a.addFollow, a.addFollow:link, a.addFollow:visited{background:#def3ff;border:1px solid #92c9e8;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px;margin-bottom:5px}
a.addFollow:hover{background:#3986ca;border:1px solid #186ab6;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px;text-decoration:none;color:#fff}
.width_540 div.edit{width:540px;right:150px;bottom:0px;overflow:hidden;padding-top:15px;margin-right:0px}
.edit{clear:both}
.edit:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.edit{display:inline-block}
* html .edit{height:1%}
.edit{display:block}
.edit .add, .edit .hot, .edit .look{float:right;display:inline;width:76px;padding-right:4px;text-align:right;overflow:hidden}
.edit .add a, .edit .hot a, .edit .look a, .edit .read a{margin-right:-30px;height:29px;display:block;background-image:url(/images/auther_002.png);background-repeat: no-repeat}
.edit .add a{background-position: 19px -294px}
.edit .add a:hover{background-position: 19px -265px}
.edit .add a.done{background-position: 19px -236px;cursor:default}
.edit .add a.done:hover{background-position: 19px -236px}
.edit .hot{margin-left:10px}
.edit .hot a{background-position: -73px -294px}
.edit .hot a:hover{background-position:-73px -265px}
.edit .hot a.done{background-position: -73px -236px;cursor:default}
.edit .hot a.done:hover{background-position: -73px -236px}
.edit .look{margin-left:10px}
.edit .look a{background-position:-166px -294px}
.edit .look a:hover{background-position: -166px -265px}
.edit .look a.done{background-position:-166px -236px;cursor:default}
.edit .look a.done:hover{background-position:-166px -236px}
.edit .read{float:left;width:96px;overflow:hidden}
.edit .read a{background-position: 56px -358px;margin-left:-50px}
.edit .read a:hover{background-position: 56px -328px}
.edit .read a.nonebg{background:none;height:29px;display:block;margin: 2px 0 0 0px}
.edit .read a.nonebg:hover{background:none}
#error{background:url(/images/error_bg.gif) no-repeat 95px 95px;padding:70px 0 280px 210px}
#error p{margin:10px 0 0;color:#474747;font-family:"宋体";line-height:180%}
#error strong{font-size:16px;font-family:"宋体";color:#f60;display:inline-block;margin-left:-26px}
#error a{color:#f60;text-decoration:underline}
.topNav .fl a.index, .topNav .fl a.index:hover{background-image:url(/images/user_bg.png);background-repeat:repeat-x}
.header{position:relative;width:800px;margin:0 auto;text-align:left;z-index:100;height:92px}
.topNav{height:36px;line-height:36px;color:#c4c7bd;text-align:right;background:#bdecf9 url(/images/circle_rb.gif) no-repeat right bottom;padding-right:15px}
.topNav a{display:inline-block;margin:0 10px;color:#0082cb}
.topNav a:hover{text-decoration:underline}
.topNav .fl{float:left;height:30px;margin:6px 0 0 0;padding-left:30px;line-height:24px;background:#bdecf9 url(/images/circle_lb.gif) no-repeat left bottom}
.topNav .fl a{display:block;float:left;margin:0 20px 0 0}
.topNav .fl a.index{text-align:left;background-repeat:no-repeat;background-position:61px -374px;padding-left:4px;display:block;width:68px;height:24px}
.topNav .fl a.index:hover{color:#fff;text-decoration:none;text-align:left;background-repeat:no-repeat;background-position: -66px -55px;display:block;width:68px;height:24px}
.topNav .icon_hot,.topNav .icon_new{background:url("/images/ws_002_new.gif") no-repeat scroll 0 -1239px;width:14px;height:14px;margin-left:-12px;overflow:hidden;position:absolute;top:1px;text-indent:30px;}
.topNav .icon_hot {}
.topNav .icon_new {background-position:0 -1312px;}
#second{z-index:100;position:absolute;left:30px;top:30px;width:140px;height:67px; padding-top:8px;background:#fff;border:1px solid #C0C0C0; text-align:left;line-height:20px}
#second li{ margin:0 0 0 10px;}
#second li a{ margin:0;}
#second li a:hover{ color:#f00;}
#second span.ico{ background:url(/images/icon.gif) no-repeat 0 -16px; width:8px; height:6px; display:block; position:absolute; top:-5px; left:30px;}
.logo{margin-top:10px}
#footer{text-align:center;line-height:26px;padding:10px 0 40px;font-family:Arial;position:relative;color:#666;clear:both;width:800px;margin:0 auto}
#footer p.Copyright *, #footer p.black, #footer p.black *{color:#666;text-decoration:none}
#footer .police{position:absolute;top:18px;right:75px}
#footer a:link, #footer a:visited, #footer a:link{color:#666;text-decoration:none}
#footer a:hover{text-decoration: underline}
.loginbg .mainbody{border-bottom:0 none}
.loginl{float:left;width:250px;height:360px;background:#e0f9fe;overflow:hidden}
.loginl p{margin:8px 20px;color:#676568}
p.loginl_ask{height:21px;background:url(/images/auther_002.png) no-repeat -10px -925px;margin-top:20px}
p.loginl_new{height:29px;margin:10px 0 30px 70px;text-indent:-2000px}
.loginl_new a{background:url(/images/auther_002.png) no-repeat 0 -794px;height:29px;width:113px;display:block}
.loginl_new a:hover{height:29px;background:url(/images/auther_002.png) no-repeat 0 -824px}
p.loginl_bg{background:url(/images/auther_002.png) no-repeat -10px -972px;width:68px;height:17px;margin-bottom:15px}
p.loginl_msg{padding-left:60px;color:#f00}
p.pl58{padding-left:60px}
.input1{width:130px}
input.loginl_on{height:32px;background:url(/images/auther_002.png) no-repeat 0 -855px;width:92px;border:0px;margin:0 0 0 50px}
input.loginl_on_hover{height:32px;background:url(/images/auther_002.png) no-repeat 0 -889px;width:92px;border:0px;margin:0 0 0 50px;cursor:pointer}
.loginr{float:left;width:550px}
.add_guanzhu{background:url(/images/icon.gif) no-repeat scroll -45px -167px transparent;color:#669931;padding:18px 0 14px 60px;margin-top:20px}
.blk_19 .ScrCont{width:70000px;zoom:1}
.blk_19 #List1_1, .blk_19 #List2_1{float:left}
.blk_19{float:left;font-size:12px;overflow:hidden;width:520px;zoom:1;padding:15px}
.blk_19 .pcont{float:left;overflow:hidden;width:462px;height:71px;padding:0px}
.blk_19 dl{float:left;width:77px;margin:0px;text-align:center}
.blk_19 dl dt{width:54px;margin:0 auto}
.blk_19 dl dd{width:60px;margin:0 auto;text-align:center;overflow:hidden;line-height:18px;white-space:nowrap}
.blk_19 dl dd a:hover{color:#186ab6;text-decoration:underline}
.blk_19 .LeftBotton, .blk_19 .RightBotton{background:url(/images/icon.gif) no-repeat;float: left;width:15px;height: 35px;margin:10px 0px}
.blk_19 .LeftBotton{background-position: 0 -367px}
.blk_19 .RightBotton{background-position: -18px -367px}
.blk_19 .LeftBotton:hover{background-position: 0 -331px}
.blk_19 .RightBotton:hover{background-position: -18px -331px}
.mainmid{background:url(/images/mainmid.gif) no-repeat;margin:20px;width:400px;height:150px;float:left}
.head_link{border:1px solid #ddd;float:left;height:50px;padding:1px;width:50px}
.head_link img{height:50px;width:50px}
.main_foot{background:url(/images/bg_bottom_r.gif) no-repeat top right;height:100px;margin:0 auto 0;width:802px}
.main_foot span{background:url(/images/bg_bottom_l.gif) no-repeat top left;display:block;height:100px;width:250px}
#page{line-height:28px;text-align:right;clear:both}
#page a, #page span{padding:2px 6px;color:#196bb4;vertical-align:middle;margin-right:4px;border:1px solid #ddd}
#page a:hover{color:#fff;text-decoration:none;background-color:#2E6AB1;border:1px solid #2E6AB1}
#page .CurrentPage{font-weight:bold;color:#fd0002;text-decoration:none;background-color:transparent;border:0}
.lookPage{padding:25px 13px 0;width:774px}
.lookPage .mod-hd{position:relative;zoom:1}
.lookPage h2{font-size:12px;line-height:20px;height:20px;padding-left:10px}
.lookPage .mod-hd-m{font-size:12px;position:absolute;right:10px;top:0;line-height:20px;color:#999}
.lookPage .mod h2{border-bottom:1px solid #bbe8f3;margin-bottom:20px}
.lookPage .mod-bd{position:relative;zoom:1}
.topList1 li, .topList2 li, .topList3 li, .topList4 li{background-image:url(/images/look_bg.png);background-repeat:no-repeat;line-height:28px;height:28px;overflow:hidden;border-bottom:1px dashed #999;padding-left:30px;position:relative;zoom;1}
li.No1{background-position:5px -200px}
li.No2{background-position:5px -249px}
li.No3{background-position:5px -298px}
li.No4{background-position:5px -510px}
li.No5{background-position:5px -537px}
li.No6{background-position:5px -565px}
li.No7{background-position:5px -593px}
li.No8{background-position:5px -621px}
li.No9{background-position:5px -650px}
li.No10{background-position:5px -677px}
.topList2 li.No1{background-position:-395px -152px}
.topList2 li.No2{background-position:-395px -201px}
.topList2 li.No3{background-position:-395px -250px}
.topList3 li.No1{background-position:5px -347px}
.topList3 li.No2{background-position:5px -396px}
.topList3 li.No3{background-position:5px -445px}
.topList4 li.No1{background-position:-395px -298px}
.topList4 li.No2{background-position:-395px -347px}
.topList4 li.No3{background-position:-395px -396px}
.lookPage li span.num{position:absolute;top:0;right:0;color:#7e7e7e}
.picList1{position:relative;zoom:1;height:100px;overflow:hidden;line-height:20px}
.picList1 dt{margin:0;position:absolute;left:0;top:0}
.picList1 dt img{width:75px;height:95px;border:1px solid #d1d1d1;background:#fff;padding:1px}
.picList1 dd{margin-left:92px}
.picList1 dd span.collect{display:block;color:#999}
.twit_con{border-bottom:1px dashed #a0a0a0;padding-bottom:10px;margin-bottom:10px}
.twit_con .pic{float:left;margin:0 10px;display:inline}
.twit_con .pic img{width:50px;height:50px;border:1px solid #ccc;background-color:#fff;padding:2px}
.twit_con .info{float:left;line-height:1.6em;width:450px}
.twit_con .info span.author{float:left;}
.twit_con .info span.author a{font-weight:bold;}
.twit_con .info span.time{color:#7e7e7e;display:block}
.twit_con .daojvPic{width:60px;height:60px;background:#fff;padding:2px;display:block;border:1px solid #ccc}
.twit_con .bookPic{width:72px;height:90px;background:#fff;padding:2px;display:block;border:1px solid #ccc}
.bottomcover{position:absolute;bottom:0;background:url(/images/halftransp.png) repeat-x 0 -5px;height:35px;width:554px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/halftransp.png', sizingMethod='crop');pointer-events:none;}
.Top_24{background:url(/images/look_bg.png) no-repeat -759px center;position:relative;z-index:100;}
.Top_24{background:url(/images/look_bg.png) no-repeat -759px center;position:relative;z-index:100}
.Top_24 .mod-bd{padding:0 10px 10px}
.Top_24 li{height:27px;line-height:27px}
.b_revive{position:relative;z-index:100;zoom:1}
.b_revive ol{position:relative;zoom:1}
.b_revive ol li{height:24px;line-height:24px;border-bottom:1px dashed #7e7e7e;overflow:hidden}
.b_revive dl{border:1px solid #bde8f1;background:#f3fdff;padding:6px;width:170px;position:absolute;left:-20000px;zoom:1}
.b_revive .hover dl{top:auto;left:25px}
.b_revive dt{float:left}
.b_revive dt img{display:block;width:40px;height:50px;padding:1px;border:1px solid #bbe8f3;background-color:#f0f6ff}
.b_revive dt a:hover img{border-color:#a8a8a8}
.b_revive dd{float:right;width:120px;color:#333}
.b_revive .action p{margin:5px 0}
.b_revive p{background-image:url(/images/look_bg.png);background-repeat:no-repeat;padding-left:25px}
p.No1{background-position:-395px -300px}
p.No2{background-position:-395px -349px}
p.No3{background-position:-395px -398px}
p.No4{background-position:5px -512px}
p.No5{background-position:5px -539px}
p.No6{background-position:5px -567px}
p.No7{background-position:5px -595px}
p.No8{background-position:5px -623px}
p.No9{background-position:5px -652px}
p.No10{background-position:5px -679px}
.topAuthor{position:relative;z-index:1}
.topAuthor .ScrCont{width:70000px;zoom:1;}
.topAuthor #List1_1,.topAuthor #List2_1{float:left}
.topAuthor{float:left;width:756px;overflow:hidden;display:inline;position:relative;zoom:1;margin:0 0 20px 13px}
.topAuthor .pcont{float:left;overflow:hidden;width:726px;height:56px}
.topAuthor dl{float:left;width:242px}
.topAuthor dl dt{width:60px;float:left;margin-left:25px;display:inline}
.topAuthor dl dd{width:157px;float:left;overflow:hidden;white-space:nowrap;line-height:18px}
.topAuthor dl dd a:hover{color:#186ab6;text-decoration:underline}
.topAuthor .LeftBotton, .topAuthor .RightBotton{background:url(/images/arrow3.png) no-repeat;float: left;width:15px;height: 28px;margin:10px 0px}
.topAuthor .LeftBotton{background-position: 0 0}
.topAuthor .RightBotton{background-position: right top}
.topAuthor .LeftBotton:hover{background-position: -40px 0}
.topAuthor .RightBotton:hover{background-position: -60px 0}
.lookPage .mod-2{border:1px solid #cdeef6}
.lookPage .mod-2 h2{background:url(/images/look_bg.png) no-repeat center -39px;line-height:30px;height:30px}
.lookPage .mod-2 .mod-bd{padding:7px 10px 2px}
.lookPage .mod-2{margin-bottom:10px}
.lookPage .mod-2 .picList1{border-bottom:1px dashed #999;padding-bottom:15px}
.lookPage .mod-2 .topList1 li{border-bottom-color:#a8a8a8}
.lookPage .mod-2 .more{line-height:22px;text-align:right}
.lookPage .mod-2 li span.name{position:absolute;top:0;left:55%}
.lookPage .mod-2 li span.collect{position:absolute;top:0;right:0;color:#a8a8a8}
.mod-3 h2{background:url(/images/look_bg.png) no-repeat center 0;line-height:34px;height:37px}
.mod-3 .mod-bd{padding:0}
.mod-3 .picList1{float:left;display:inline;width:215px;margin:0 20px 0 15px;padding-bottom:20px;position:relative;zoom:1}
.mod-4{margin-bottom:10px;border:1px solid #ceeef6}
.mod-4 h2{background:url(/images/look_bg.png) no-repeat center -70px;line-height:28px;height:28px;margin:0}
.mod-4 .mod-hd-m{line-height:28px}
.mod-4 .mod-bd{padding:0 10px 2px}
.mod-4 .more{line-height:22px;text-align:right}
.userPic2 a.pic{height:20px;display:inline-block;margin:0 10px 0 0}
.userPic2 img{width:20px;height:20px;_margin-top:4px}
.userPic1 li.No1{height:56px;padding-top:10px;padding-bottom:10px}
.userPic1 li.No1 span.num{top:30%}
.userPic1 .topList3 li.No1{background-position:5px -327px}
.userPic1 .topList4 li.No1{background-position:-395px -278px}
.userPic1 a.pic{height:56px;display:inline-block;margin:0 10px 0 0}
.userPic1 img{width:50px;height:50px;border:1px solid #ccc;background-color:#fff;padding:2px}
.none_line{border:0 none;padding-bottom:0;margin-bottom:0}
.lookPage .tbList{margin:0 10px 20px;width:754px;text-align:center}
.lookPage .tbList td{padding:0 10px}
.lookPage .tbList td.author,.lookPage .tbList td.name{text-align:left}
.lookPage .tbList thead td{background-color:#e8f7fb;height:31px}
.lookPage .tbList tbody td{height:57px;border-bottom:1px dashed #a0a0a0}
.lookPage .tbList tbody td.SN span, .lookPage .tbList tbody td.SN1 span, .lookPage .tbList tbody td.SN2 span{margin:0 auto;display:block;height:13px;width:19px;font-weight:bold;color:#666}
.lookPage .tbList tbody td.SN1 span{background:url(/images/look_bg.png) no-repeat -701px -694px;color:#fff}
.lookPage .tbList tbody td.SN2 span{background:url(/images/look_bg.png) no-repeat -701px -644px;color:#fff}
.lookPage .tbList tbody td.pic img{width:33px;height:33px;background-color:#fff;padding:1px;border:1px solid #e1e1e1}
.lookPage .tbList tbody td.pic1 img{width:31px;height:39px;background-color:#fff;padding:1px;border:1px solid #e1e1e1}
.lookPage .tbList tbody td.num, .lookPage .tbList tbody td.time{color:#a8a8a8}
.lookPage .addBnt{background:#def3ff;border:1px solid #92c9e8;display:block;height:18px;width:56px;line-height:18px;overflow:hidden;margin:0 auto}
.lookPage .addBnt:hover{background:#3986ca;text-decoration:none;border:1px solid #186ab6;color:#fff;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px}
.lookPage .addBnt_Yet{background:url("/images/icon.gif") no-repeat scroll 5px -83px #eaeaea;border:1px solid #D7D7D7;color:#666666;cursor:default;display:block;height:18px;line-height:18px;overflow:hidden;text-decoration:none;width:56px;text-indent:1.2em;margin:0 auto}

/*排行榜*/
.wrap{ position:relative; zoom:1;width:802px;margin:0 auto; padding-right:150px;}
#TOP{ width:150px; position:absolute; z-index:1; top:130px; right:0; background:url(/images/TOP_bg1.png) repeat-y;}
#TOP h2,#TOP .TOP_line,#TOP dl,#TOP .mod-fd{ background-image:url(/images/TOP_sprite.png); background-repeat:no-repeat; background-color:transparent;}
#TOP h2{ background-position:0 -10px; width:150px; height:88px; overflow:hidden; position:relative; top:-60px; left:0; margin-bottom:-60px;}
#TOP .TOP_line { height:2px; background-position:-23px 0; width:150px; overflow:hidden; }
#TOP dl.TOP1 { background-position:80px -110px; width:150px;}
#TOP dl.TOP2 { background-position:-58px -110px; width:150px;}
#TOP dl.TOP3 { background-position:80px -208px; width:150px;}
#TOP dl.TOP4 { background-position:-58px -208px; width:150px;}
#TOP dl.TOP5 { background-position:80px -309px; width:150px;}
#TOP dl.TOP6 { background-position:-58px -309px; width:150px;}
#TOP dl.TOP7 { background-position:80px -407px; width:150px;}
#TOP dl.TOP8 { background-position:-58px -407px; width:150px;}
#TOP dl.TOP9 { background-position:80px -506px; width:150px;}
#TOP dl.TOP10{ background-position:-55px -506px; width:150px;}
#TOP dl{ position:relative; zoom:1; height:89px; padding-top:10px;}
#TOP dt{ width:70px; text-align:center; position:absolute; top:15px; left:0;}
#TOP dt a{ color:#4E3722;}
#TOP dt a:hover{ color:#FF0;}
#TOP .pic_user{ width:48px; height:48px; border:2px solid #FF0;  margin:0 auto 5px; display:block;}
#TOP .pic_user:hover{ border-color:#4E3722;}
#TOP .name{ display:block; margin:0 auto; white-space:nowrap;}
#TOP dd{ margin:0 12px 0 70px; padding:4px 0 4px;border-bottom:1px dashed #8E7F64;}
#TOP dd img{ vertical-align:middle;}
#TOP .mod-fd{ background-position:0 -617px; height:34px; text-align:right; padding-right:31px; line-height:34px;}
#TOP .mod-fd a{ font-weight:700; color:#4E3722;}
#TOP .mod-fd a:hover{ color:#FF0;}

/*排行榜页*/
.TOPPage .mod-hd{ background:url(/images/TOP_list_bg.png) no-repeat; position:relative;}
.TOPPage h2{ height:215px; position:relative; top:-38px; left:80px; margin-bottom:-38px; overflow:hidden;}
.TOPPage h2 span{ background:url(/images/TOP_list_title.png) no-repeat; width:292px; height:215px; display:block;}

.TOPnav span.x1,.TOPPage .TOPnav span.x1a,.TOPPage .TOPnav li a,.TOPsubnav,.TOPsubnav li a,.TOPPage .help a{background-image:url(/images/TOP_list_sprite.png); background-repeat:no-repeat;}

.TOPPage .mod-bd{clear:both;}
.TOPPage .mod-bd p.tip{ margin:0 20px; padding:50px 0 80px; text-align:center; font-size:14px; font-weight:bold;}
.TOPnav{ background:url(/images/TOP_list_sprite.png) repeat-x 0 -30px; height:63px; width:820px; position:relative; margin:0 -10px;}
.TOPnav span.x1,.TOPPage .TOPnav span.x1a{height:9px; width:10px; position:absolute; top:55px;}
.TOPnav span.x1{ left:0; background-position:-101px -260px;}
.TOPnav span.x1a{ right:0; background-position:-112px -260px;}
.TOPnav li{ float:left; display:inline; width:180px; margin-left:20px;}
.TOPnav li a{ width:180px;height:66px; display:block; overflow:hidden; text-indent:-200px;}
.TOPnav li.menu1 a{ background-position:-185px -110px;}
.TOPnav li.menu1 a:hover,.TOPnav li.menu1 a.active{ background-position:0 -104px;}
.TOPnav li.menu2 a{ background-position:-570px -110px;}
.TOPnav li.menu2 a:hover,.TOPnav li.menu2 a.active{ background-position:-380px -104px;}
.TOPnav li.menu3 a{ background-position:-185px -190px;}
.TOPnav li.menu3 a:hover,.TOPnav li.menu3 a.active{ background-position:0 -184px;}
.TOPnav li.menu4 a{ background-position:-570px -190px;}
.TOPnav li.menu4 a:hover,.TOPnav li.menu4 a.active{ background-position:-380px -184px;}

.TOPsubnav{ clear:both; float:left; display:inline; background-position:0 14px; height:40px; margin:0 0 0 25px; padding-right:10px; width:742px; overflow:hidden;}
.TOPsubnav li{  float:right; display:inline; width:30px; text-align:center; margin-right:6px;}
.TOPsubnav li a{ display:block; width:30px; height:30px; text-align:center; margin:0 auto; font-weight:700; color:#930; font-size:14px; line-height:30px; background-position:-49px -260px;}
.TOPsubnav li a.active,.TOPsubnav li a:hover{ text-decoration:none; background-position:0 -260px; height:38px; color:#fff;}

.new_TOP{ position:absolute; top:130px; right:10px;}
.new_TOP li{ height:25px; text-align:right; color:#000;}
.new_TOP li a{ color:#f00;}

.TOPPage .tbList{ clear:both; margin:10px 20px 20px;width:754px;text-align:center}
.TOPPage .tbList td{padding:0 10px}
.TOPPage .tbList td.author,.lookPage .tbList td.name{text-align:left}
.TOPPage .tbList thead td{background-color:#ebebeb;height:31px}
.TOPPage .tbList tbody td{height:80px;border-bottom:1px dashed #a0a0a0}
.TOPPage .tbList tbody td.SN span, .TOPPage .tbList tbody td.SN1 span, .TOPPage .tbList tbody td.SN2 span{margin:0 auto;display:block;height:13px;width:19px;font-weight:bold;color:#666}
.TOPPage .tbList tbody td.SN1 span{background:url(/images/look_bg.png) no-repeat -701px -694px;color:#fff}
.TOPPage .tbList tbody td.SN2 span{background:url(/images/look_bg.png) no-repeat -701px -644px;color:#fff}
.TOPPage .tbList td.name,.TOPPage .tbList td.pic{ text-align:left;}
.TOPPage .tbList tbody td.pic li{ height:20px; color:#666;}
.TOPPage .tbList tbody td.pic1 img{width:48px;height:48px;background-color:#fff;padding:1px;border:1px solid #e1e1e1}
.TOPPage .tbList tbody td.time{color:#a8a8a8}
.TOPPage .addBnt{background:#def3ff;border:1px solid #92c9e8;display:block;height:18px;width:56px;line-height:18px;overflow:hidden;margin:0 auto}
.TOPPage .addBnt:hover{background:#3986ca;text-decoration:none;border:1px solid #186ab6;color:#fff;display:block;height:18px;line-height:18px;overflow:hidden;text-align:center;width:56px}
.TOPPage .addBnt_Yet{background:url("/images/icon.gif") no-repeat scroll 5px -83px #eaeaea;border:1px solid #D7D7D7;color:#666666;cursor:default;display:block;height:18px;line-height:18px;overflow:hidden;text-decoration:none;width:56px;text-indent:1.2em;margin:0 auto}

.TOPPage #page{ margin:-50px 20px 20px 150px;}
.TOPPage .help{ margin:0 20px 20px }
.TOPPage .help a{ background-position: -190px -260px; width:130px; height:30px; display:block;}


/*牛人图标*/
.user_ico{ float:none; width:auto; clear:both; margin:0 0 0 10px; position:relative; zoom:1; z-index:10000}
.user_ico img{ margin:8px 2px 0 0; cursor:pointer;}
/*过期提示*/
.userico_tip{ position:absolute;zoom:1; left:0; bottom:26px; background:#FFF9E0; border:1px solid #EDBE4D; width:160px; padding:5px 10px; color:#666; line-height:160%;}
.userico_tip em{ font-weight:700; color:#f00;}
.userico_tip a.close{background:url(/images/icon.gif) no-repeat scroll -18px 0 transparent;height:8px;overflow:hidden;width:7px;position:absolute;top:4px;right:5px}
.userico_tip a:hover.close{background-position:-18px -8px}
.userico_tip span.x3{ position:absolute; height:7px; width:11px; top:100%; background:url(/images/icon.gif) no-repeat scroll 0 0 transparent}
/*牛人图标鼠标划过*/
.user_ico .mod-cue{ position:absolute;zoom:1; right:5px; top:40px; z-index:10000; width:300px;}
.user_ico .mod-cue-bd{ padding:0;}
.user_ico .mod-cue .ico_cue{ float:left; width:48px; height:48px; padding:1px; border:1px solid #ccc; margin-right:10px;}
.user_ico .mod-cue .text1{ padding:10px 10px 0; height:70px;}
.user_ico .mod-cue .text{ background:#f1f1f1; border-top:1px dashed #ccc; padding:5px 10px 10px;}
.user_ico .mod-cue .x3{ background:url(/images/TOP_sprite.png) no-repeat -167px -639px; width:24px; height:12px; display:block; position:absolute; top:-11px; z-index:10000;}
/*位置*/
.user_ico .position_0 .x3{left:4px;}
.user_ico .position_1 .x3{left:30px;}
.user_ico .position_2 .x3{left:56px;}
.user_ico .position_3 .x3{left:82px;}
.user_ico .position0 .x3{left:115px;}
.user_ico .position1 .x3{left:140px;}
.user_ico .position2 .x3{left:165px;}
.user_ico .position3 .x3{left:190px;}
/*tab粉丝*/
.fensi_list{ position:relative;}
.fensi_list .tab-hd{ position:absolute;z-index:10;top:5px;right:0}
.fensi_list .tab-hd h3{float:left;width:70px;height:24px;overflow:hidden;line-height:24px;text-align:center;font-weight:normal;font-size:12px;margin-right:3px;cursor:pointer; border:1px solid #BBE8F3}
.fensi_list .tab-hd h3.menu1{border-bottom:1px solid #fafdfe; font-weight:bold; background:#fff;}
.fensi_list .tab-hd h3.menu2{}