/* basic */
a{
	color: #2f468f;
	text-decoration: none;
	background-color: transparent;
}

a:hover{
	color: #ff6600;
}


.font14{ font-size:14px;}
img{
	border: 0px;
}


hr{
	height: 0px;
	border: 0px solid #a3bee8;
	clear: both;
	margin: 5px 0px;
}

/* table */
table{
	text-align: left; 
	font: 12px/120% ו,Verdana,Arial,sans-serif;
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #e4e4e4;
	padding: 3px;
	margin: auto;
}

table.grid caption, .gridtop{
    background:url(/images/sort_bg20100604.png) repeat-x 0 -93px;
	vertical-align: middle; 
	text-align: center;
	padding: 3px;
	color:#054e86;
	font-weight: bold;
	font-size: 16px;
	margin: auto;
	height:20px;
	overflow:hidden;position:relative;zoom:1;
	border-right:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;
}

table.grid th, .head{
	border: 1px solid #e4e4e4;
	background: #F8F8F8;
	color:#054e86;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 3px;
}

table.grid td{
	border: 1px solid #e4e4e4;
	padding: 3px;
	background-color: #ffffff !important; 
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

/* table add-ons */

.title2{
	background: #e9f1f8;
	text-align: center;
	padding: 3px;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
}

.even{
	background: #e4e4e4; 
	padding: 3px;
}

.odd{
	background: #e4e4e4; 
	padding: 3px;
}

.foot{
	background: #f0f7ff; 
	padding: 3px; 
	text-align: center;
}



/* form */

form{}

input{}

.text{
	border: 1px solid #e4e4e4; 
	background: #ffffff;
	color: #054e86;
	height: 20px;
}

.textarea{
	border: 1px solid #e4e4e4; 
	background: #ffffff;
	color: #054e86; 
}


.button{ 
background:url(/images/buttonbg.gif) no-repeat;
 border:none;
 height:26px;
 margin:7px 10px 0 6px; 
 width:118px; 
 font-weight:bold;
  }

.checkbox, .radio{border-width: 0px;}

.select{height: 21px;}
/* structure */



#left2{
	float: left;
	width: 185px;
	margin-right:6px;
}

#right2{
	float: right;
	width: 185px;
}

#centers{
	float: left;
	width: 578px;
}

#centerm{
	float: left;
	width: 768px;
}

#centerl{
	float: left;
	width: 960px;
}

#cleft{
	float: left;
	width: 475px;
}

#cright{
	float: right;
	width: 475px;
}

#content{

}

.main2{
	width: 960px;
	clear: both;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.m_top{
	background: #f6f6f6;
	border-top: 3px solid #a9c9e2;
	border-bottom: 1px solid #e4e4e4;
	padding: 5px 0px;
	margin-bottom: 3px;
	height: 15px;
}

.m_head{
	height: 60px;
	margin-bottom: 3px;
}

.h_logo{
	float:left;
	width:180px;
}

.h_banner{
	float:left;
}

.h_link{
	float:right;
	width:90px;
	padding-top:6px;
}

.m_menu{
	background:#55a0ff;
	height:22px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	padding-top:3px;
	margin-bottom:3px;
}

.m_foot{
	background:#f6f6f6;
	border:1px solid #e4e4e4;
	text-align:center;
	padding: 5px 0px;
	margin-top:3px;
	margin-bottom:10px;
}

.block2{
	border: 1px solid #c9c9c9;
	margin-bottom: 5px;
}

.blocktitle2{
	border-top: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	font-weight: bold;
	font-size: 14px;
    background:url(/images/fy_titles.png) no-repeat scroll 0 0 transparent;
	color: #fff; 
	height: 28px; 
	line-height: 28px; 
	padding-left: 10px;
}

.blockcontent2{
	padding: 3px;
}

.blocknote2{
	border-top: 1px solid #a3bee8;
	padding: 3px;
	text-align: center;
	background: #f0f7ff;
	line-height: 150%;
}

.blocktitle2 span2{
	position: relative;
	bottom: -5px;
	border-top: 1px solid #a3bee8;
	border-left: 1px solid #a3bee8;
	border-right: 1px solid #a3bee8;
	background: #ffffff;
	padding: 3px 6px 3px 6px;
	color: #c42205;
	height: 22px;
	line-height: 22px; 
}

#left .block{
	background: #e9f1f8;
	padding: 2px;
}

#left .blocktitle{
	border: 0px;
	padding: 0px;
	line-height: 24px; 
	text-align: center;
}

#left .blockcontent{
	border: 1px solid #d8e4ef;
	background: #ffffff;
}


/* custom */

.ultop li{list-style: decimal inside; margin: 3px 4px; border-bottom: 1px solid #d8e4ef; color: #1b74bc;}
.ultop li a{color: #c42205;}
.ulitem li{list-style: none;line-height:19px;}
.ulrow li{padding:2px;}
.ulcenter li{text-align: center;}
.ulmul{overflow: hidden;}
.ulmul li{ line-height:21px;}

.fix, .lm{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both; font-size:0px; height:0px;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.more{text-align: right;}

.c_navigation{}
.c_title{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 200%;
}
.c_head{
	line-height: 150%;
}
.c_content{
	font-size: 14px;
	line-height: 150%;
}
.c_foot{
	line-height: 150%; list-style:none
}
.c_label{
	font-weight: bold;
}
.c_value{
}

.c_row{}
.c_subject{}
.c_tag{}
.c_description{}
.c_note{}


/* attention */

.hottext, a.hottext{color: #ff0000;}
.poptext, a.poptext{color: #c42205;}
.notetext, a.notetext{color: #1979cc;}
.errortext, a.errortext{color: #ff0000;}

a.btnlink, a.btnlink:visited{color: #000000; background: #ddf2ff; border:1px solid #a3bee8; height:20px; padding: 2px 10px 0px 10px;}
a.btnlink:hover{background: #cccccc;}


#footer{width:950px;margin:0 auto;text-align:center;line-height:21px;padding:0 0 40px 0;font-family:Arial;position:relative;}
#foot_Navi{text-align:center;background:#f6f6f6;border-bottom:1px solid #E1E1E1;line-height:25px;padding:0 10px;margin-bottom:10px;}
#foot_Navi a{margin:0 30px;}
#footer p.Copyright *,#footer p.black *{color:#000;text-decoration:none;}#footer .police{position:absolute;top:60px;right:80px;}
.clear {clear:both; }