.urgent {background:#FF0000;color: #f1f1f1; text-align: center; padding: 10px 20px 10px 20px; line-height: 130%; font-size:20px;}
html {
	overflow-y:scroll;
}

body {
	margin:0px; background-color:#fff; font-family:/*Verdana, */Arial, Helvetica, sans-serif; font-size:12px; color:#555;
	/*background:url('bg.gif') repeat-x;*/
}
td{font-family:Verdana,Arial,sans-serif,"Times New Roman",ËÎÌו;}
html, body {
	height: 100%;
}
a:hover, a:active, a:focus {position:relative;left:1px;top:1px;}
img {
	border:0;
}

ul, form, iframe, ol {
	padding:0; margin:0;
}
/* form */
input, textarea, select {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;
}
button:hover {
	border-color:#a5beda; border-bottom-color:#5c7590; color:#243C5F;
	background:#fcfdff url("btn_bg_hover.png") repeat-x bottom;
}
button, button[disabled], button[disabled="disabled"]:hover {
	font-size:12px; border:1px solid #c0c0c0; border-bottom:1px solid #9b9b9b; padding:0.2em 0.2em;
	background:#fff url("btn_bg.png") repeat-x bottom left; cursor:pointer;
	width:auto;
	overflow:visible; /* IE7 */
	position: relative; /* peekaboo bug fix for IE6 */
	line-height:16px; /* Safari & Opera */
}
button img {
    margin:0 0px -4px 0 !important; padding:0; border:none;
}
input, select {
	/*vertical-align:middle; *vertical-align: text-bottom;*/
}
input.search {
	border:1px #999 solid; color:#999; padding:2px 0px 2px 20px; background:#fff url('ico_search.png') 2px 50% no-repeat; width:150px;
}
input.username {
	border:1px #999 solid; color:#999; padding:2px 0px 2px 20px; margin-right:2px; background:#fff url('ico_username.png') 2px 50% no-repeat; width:160px;
}
input.password {
	border:1px #999 solid; color:#999; padding:2px 0px 2px 20px; background:#fff url('ico_password.png') 2px 50% no-repeat; width:160px;
}
input.textbox {
	border:1px #A5ACB2 solid; color:#999; padding:2px 0px 2px 0px;
}
input.button {
	/*border:1px #A5ACB2 solid;*/ color:#333; padding:1px 0px 1px 0px;
}

td, th { font-size:12px; }

a { color:#36b; text-decoration:none; }
a:hover { color:#f60; text-decoration:underline; }

#wrapper {
	width:980px; margin:0px auto; text-align:center; overflow:hidden;
}

#lzico, #wjico {
background: url(https://static.zongheng.com/v2_0/images/pic.gif) no-repeat -481px -611px;
height: 54px;
position: relative;
left:695px;
top: 23px;
width: 93px;
margin:-28px;
}

#wjico {
background-position: -481px -681px;
}
#nono { display:none;}

.sf-logo {
	background:url('logo.png') left top no-repeat; width:240px; height:80px; display:block;position:relative;left:0px;top:0px
}

/* welcome */
.sf-altnav {
	height:20px!important; padding:5px 5px 0px 0px; font-size:12px; color:#36b;
}

#sf-navtab {
	display:table; width:100%; background:#f8f8f8;
}
#sf-navtab ul {
	padding-left:10px
}
#sf-navtab li {
	float:left; display:block; position:relative; background-image:none; margin-left:-23px; padding-left:0; padding-right:0
}
#sf-navtab .idx0 {
	margin-left:0px;
}
#sf-navtab #idx0 {
	margin-left:0px;
}
.idx0, .idx0 a { z-index:90; position:relative;left:0px;top:0px}
.idx1, .idx1 a { z-index:80; position:relative;left:0px;top:0px}
.idx2, .idx2 a { z-index:70; position:relative;left:0px;top:0px}
.idx3, .idx3 a { z-index:60; position:relative;left:0px;top:0px}
.idx4, .idx4 a { z-index:50; position:relative;left:0px;top:0px}
.idx5, .idx5 a { z-index:40; position:relative;left:0px;top:0px}
.idx6, .idx6 a { z-index:30; position:relative;left:0px;top:0px}
.idx7, .idx7 a { z-index:20; position:relative;left:0px;top:0px}
.idx8, .idx8 a { z-index:10; position:relative;left:0px;top:0px}

li#idx0, li#idx0 a { z-index:90; position:relative;left:0px;top:0px}
li#idx1, li#idx1 a { z-index:80; position:relative;left:0px;top:0px}
li#idx2, li#idx2 a { z-index:70; position:relative;left:0px;top:0px}
li#idx3, li#idx3 a { z-index:60; position:relative;left:0px;top:0px}
li#idx4, li#idx4 a { z-index:50; position:relative;left:0px;top:0px}
li#idx5, li#idx5 a { z-index:40; position:relative;left:0px;top:0px}
li#idx6, li#idx6 a { z-index:30; position:relative;left:0px;top:0px}
li#idx7, li#idx7 a { z-index:20; position:relative;left:0px;top:0px}
li#idx8, li#idx8 a { z-index:10; position:relative;left:0px;top:0px}
#sf-navtab li a {
	margin:0; padding:16px 8px 0 0; height:27px; width:145px; overflow:hidden; display:block; cursor:pointer; 
	background:url('sf-navtab.png') top left no-repeat; text-decoration:none; color:#888; font-size:16px; font-weight:bold;
}

#sf-navtab li a:hover {
	background:url('sf-navtab-hover.png') top left no-repeat;
}

li#current, li#current a {
	z-index:100; color:#fff; font-weight:bold;
}
#sf-navtab li#current a, #sf-navtab li#current a:hover {
	background-position:0 0; background-image:url('sf-navtab-current.png');
}

#sf-navtab li.cur{
	z-index:100;
}
#sf-navtab li.cur a, #sf-navtab li.cur a:hover {
	background-position:0 0; background-image:url('sf-navtab-current.png');z-index:100; color:#fff; font-weight:bold;
}

#compZnNav {
background:transparent url('subNavBlue.gif') repeat-x scroll 0 0;
height:24px;
font-size:13px;
font-weight: 500;
line-height:24px;
margin:0;
padding-left:20px;
overflow:hidden;
white-space:nowrap;
text-align:left;
width:980px;
}

#compZnNav a:link{color:#ffffff;text-decoration:none;}
#compZnNav a:visited{color:#ffffff;text-decoration:none;}
#compZnNav a:hover{color:#ffffff; text-decoration:underline;}

.sf-subnav {
	PADDING-RIGHT: 0px;  PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: url(sf-subnav.gif) no-repeat 50% top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: 26px! important
}
.sf-subnav .today {
	FONT-SIZE: 11px
}
#divinfo {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; LEFT: 50%; MARGIN: -100px 0px 0px -100px; BORDER-LEFT: red 1px solid; WIDTH: 200px; BORDER-BOTTOM: red 1px solid; POSITION: absolute; TOP: 50%; HEIGHT: 200px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
#divbody {
	CLEAR: both; TEXT-ALIGN: left
}
#sidebar {
	MIN-WIDTH: 210px; FLOAT: left; WIDTH: 210px
}
#sidebar UL {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
#sidebar UL LI {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 16px; FONT-SIZE: 12px; BACKGROUND: url(sf-sidebox-arrow.gif) no-repeat left center; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
#sidebar UL LI A {
	DISPLAY: block; HEIGHT: 16px
}
#sidebar UL LI.line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 186px; PADDING-TOP: 0px; BORDER-BOTTOM: #9f9f9f 1px solid; HEIGHT: 1px
}
#sidebar .pad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#content {
}
#content .pad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
#content .shadow {
	BORDER-RIGHT: #acacac 1px solid; BACKGROUND: url(sf-sidebox-bg.gif) repeat-x 50% top; BORDER-LEFT: #acacac 1px solid
}
#content UL.tabbed {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(sf-tabbed-bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
#content UL.tabbed LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 9px; HEIGHT: 20px
}
#content UL.tabbed LI A {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; CURSOR: pointer; COLOR: #fff
}
#content UL.tabbed LI A:hover {
	BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center bottom; PADDING-BOTTOM: 3px! important
}
#content UL.tabbed LI.selected {
	BORDER-RIGHT: #acacac 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #acacac 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #fff; BORDER-LEFT: #acacac 1px solid; COLOR: #888; PADDING-TOP: 4px; HEIGHT: 20px
}
#content UL.tabbed LI.selected A {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; COLOR: #888; TEXT-DECORATION: none
}
#content UL.tabbed LI.more {
	FLOAT: right; MARGIN-RIGHT: 5px
}

#divfoot {
	CLEAR: both; BORDER-TOP: #8aaaca 3px solid; MARGIN-TOP: 10px; FONT-SIZE: 13px; PADDING-TOP: 5px; 
}
#divfoot .lbox {
	FLOAT: left; TEXT-ALIGN: left
}
#divfoot .rbox {
	FLOAT: right
}
DIV.sf-error {
	BORDER-RIGHT: #dd3c10 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #dd3c10 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(sf-error.png) #ffebe8 no-repeat 4px center; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #dd3c10 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #dd3c10 1px solid
}
DIV.sf-alert {
	BORDER-RIGHT: #ffe222 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ffe222 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(sf-alert.png) #fffbe2 no-repeat 4px center; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffe222 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffe222 1px solid
}
DIV.sf-error DIV.sf-error-remove {
	FONT-SIZE: 0pt; BACKGROUND: url(sf-close.gif) no-repeat left top; FLOAT: right; WIDTH: 8px; CURSOR: pointer; HEIGHT: 8px
}
DIV.sf-alert DIV.sf-alert-remove {
	FONT-SIZE: 0pt; BACKGROUND: url(sf-close.gif) no-repeat left top; FLOAT: right; WIDTH: 8px; CURSOR: pointer; HEIGHT: 8px
}
DIV.sf-error H4 {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.sf-alert H4 {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.sf-error {
	LIST-STYLE-TYPE: none
}
UL.sf-alert {
	LIST-STYLE-TYPE: none
}
UL.sf-error LI {
	PADDING-LEFT: 2px; FONT-SIZE: 14px; LINE-HEIGHT: 1.5em
}
UL.sf-alert LI {
	PADDING-LEFT: 2px; FONT-SIZE: 14px; LINE-HEIGHT: 1.5em
}
DIV.sf-msg-right {
	BORDER-RIGHT: #9b9b9b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9b9b9b 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(sf-msg-right.png) #ffffdd no-repeat 4px center; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #9b9b9b 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #9b9b9b 1px solid
}
DIV.sf-msg-error {
	BORDER-RIGHT: #dd3c10 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dd3c10 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(sf-msg-error.png) #ffebe8 no-repeat 4px center; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #dd3c10 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #dd3c10 1px solid
}
TABLE.sf-grid {
	BORDER-RIGHT: #ccc 1px solid; TABLE-LAYOUT: fixed; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.sf-grid THEAD TH {
	PADDING-RIGHT: 3px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #efefef; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
.sf-grid TBODY TD {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; COLOR: #666; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.sf-grid TBODY TH {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; COLOR: #666; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.sf-grid TFOOT TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px; BACKGROUND-COLOR: #efefef
}
.sf-grid TFOOT TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px; BACKGROUND-COLOR: #efefef
}
.sf-grid TH.spec {
	BORDER-TOP-WIDTH: 0px; BACKGROUND: url(sf-grid-bullet1.gif) #fff no-repeat; BORDER-LEFT: #c1dad7 1px solid
}
.sf-grid TH.specalt {
	BORDER-TOP-WIDTH: 0px; BACKGROUND: url(sf-grid-bullet2.gif) #f5fafa no-repeat; BORDER-LEFT: #c1dad7 1px solid; COLOR: #b4aa9d
}
.sf-grid TBODY TR.alt TD {
	BACKGROUND: #f5fafa; COLOR: #b4aa9d
}
.sf-grid TBODY TR.odd TD {
	BACKGROUND: url(sf-grid-odd.gif) #f8fafd repeat-x 50% top
}
.sf-grid TBODY TR.own TD {
	BACKGROUND: url(sf-grid-own.gif) #f8f8f8 repeat-x 50% top
}
.sf-grid TBODY TR.win TD {
	BACKGROUND: #fff7d2; COLOR: #333
}
.sf-grid TBODY TR.hot TD {
	
}
.sf-grid TBODY TR.top TD {
	
}
.sf-grid TBODY TR:hover TD {
	BACKGROUND: #fff7d2; COLOR: #333
}
.sf-grid TBODY TR:hover TH {
	BACKGROUND: #fff7d2; COLOR: #333
}
.sf-grid TH {
	FONT-SIZE: 12px
}
.sf-grid TD {
	FONT-SIZE: 12px
}
.sf-sidebox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 210px; PADDING-TOP: 0px
}
.sf-sidebox .head {
	CLEAR: both; BACKGROUND: url(sf-sidebox-head.gif) no-repeat 50% bottom; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}
.sf-sidebox .head H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.sf-sidebox .head SPAN {
	PADDING-RIGHT: 5px; FLOAT: right; CURSOR: pointer; PADDING-TOP: 5px
}

.sf-sidebox .body {
	BORDER-RIGHT: #acacac 1px solid; BACKGROUND: url(sf-sidebox-bg.gif) repeat-x 50% top; MARGIN: 0px; BORDER-LEFT: #acacac 1px solid
}
.sf-sidebox .bottom {
	BACKGROUND: url(sf-sidebox-foot.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px
}
.sf-more {
	BACKGROUND: url(sf-more.png) no-repeat left center; WIDTH: 24px; HEIGHT: 22px
}
.sf-mainbox {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.sf-fullbox {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.sf-mainbox .head {
	CLEAR: both; BACKGROUND: url(sf-mainbox-head.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}
.sf-mainbox .head H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.sf-mainbox .head SPAN {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}
.sf-mainbox .headb {
	CLEAR: both; BACKGROUND: url(sf-mainbox-headb.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px; 
}
.sf-mainbox .headb H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; MARGIN: 0px; PADDING-TOP: 8px;Text-Align:Center
}


.sf-mainbox .headb SPAN {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}

.sf-mainbox .headc {
	CLEAR: both; BACKGROUND: url(sf-mainbox-headb.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px; 
}
.sf-mainbox .headc H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; MARGIN: 0px; PADDING-TOP: 8px;Text-Align:Center
}
.sf-mainbox .headc SPAN {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}

.sf-mainbox .bodyc {
	CLEAR: both; BACKGROUND: url(sf-mainbox-body980.gif) repeat-y 50% top;padding-top:5px
}

.sf-mainbox .footc {
	BACKGROUND: url(sf-mainbox-foot980.gif) no-repeat 50% top; HEIGHT: 8px
}

.sf-mainbox .body {
	CLEAR: both; BACKGROUND: url(sf-mainbox-body.gif) repeat-y 50% top
}
.sf-mainbox .body H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 2px 0px
}
.sf-mainbox .foot {
	BACKGROUND: url(sf-mainbox-foot.gif) no-repeat 50% top; HEIGHT: 8px
}
.sf-mainbox .sfoot {
	PADDING-RIGHT: 10px; BACKGROUND: url(sf-mainbox-sfoot.gif) no-repeat 50% top; PADDING-TOP: 0px; HEIGHT: 17px
}

.sf-panel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 375px; PADDING-TOP: 0px
}
.sf-panel .head {
	CLEAR: both; BACKGROUND: url(sf-panel-head.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}
.sf-panel .head H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.sf-panel .head SPAN {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}
.sf-panel .body {
	
}
.sf-panel .foot {
	BACKGROUND: url(sf-panel-foot.gif) no-repeat 50% top; HEIGHT: 8px
}


/* table */
table{
	text-align: left; 
	font: 12px/120% ËÎÌו,Verdana,Arial,sans-serif;
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #a4cded;
	padding: 3px;
	margin: auto;
}

table.grid caption, .gridtop{
	border: 1px solid #a4cded;
	background: #e9f1f8;
	vertical-align: middle; 
	text-align: center;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.grid th{
	border: 1px solid #a4cded;
	background: #f0f7ff;
	color:#054e86;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.grid td{
	border: 1px solid #a4cded;
	background-color: #ffffff !important; 
	padding-top: 4px;
	padding-bottom: 4px;
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

pages{
}

.pagelink{
	margin-top:5px;
	border: 1px solid #a3bee8;
	float: right;
	background: #f0f7ff;
	line-height:24px;
	padding:0;
}
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{
	float: left;
	padding: 0 6px;
}
.pagelink a:hover{background-color: #ffffff; }
.pagelink strong{font-weight: bold; color: #ff6600; background: #e9f1f8;}
.pagelink kbd{height:24px; border-left: 1px solid #a3bee8;}
.pagelink em{height:24px; border-right: 1px solid #a3bee8; font-style:normal;}
.pagelink input{border: 1px solid #a3bee8; color: #054e86; margin-top:1px; height: 16px;}

.input_01{width:222px;margin-top:2px;padding:0px 0 0 20px;height:18px;line-height:18px;background:url(v_you_mj_003.gif) no-repeat -196px 3px #fff;color:#4e4f51;border:1px solid #a5d4ff;}
.button_01{position:absolute;margin-top:3px;margin-left:3px;width:52px;height:20px;border:none;background:url(v_you_mj_003.gif) no-repeat -100px -50px;}
#s_select_01{position:absolute;width:80px;text-align:left;cursor:default;margin-top:0px;*margin-top:-1px;}
#s_select_01 .ds_cont{border:1px solid #7bbaf8;background:#fff;height:18px;line-height:18px;}
#s_select_01 .ds_title{float:left;padding-left:3px;}
#s_select_01 .ds_button{float:right;width:14px;height:14px;margin:2px 2px 0 0;display:inline;background:url(v_mj_003.gif) no-repeat -400px -50px;}
#s_select_01 .ds_list{position:absolute;top:19px;left:0;background:#fff;width:100%;border:1px solid #7bbaf8;}
#s_select_01 .ds_list p{line-height:16px;margin:1px;color:#000;padding-left:2px;background:#fff;zoom:1;}
#s_select_01 .ds_list p.selected{background:#335ea8;color:#fff;}


.tp{color:white;}
.cur{color:red;}

#popbox{
	position:absolute;
	width:190px !important;
	height:110px !important;
	width:200px;
	height:120px;
	border: 1px solid #83b0e1;
	background: #F0F7FF;
	color: #FF0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	display:none;
	z-index:9999;
}

.ulart{CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none}
.ulart li{PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 16px; FONT-SIZE: 14px; BACKGROUND: url(sf-sidebox-arrow.gif) no-repeat left center; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px}

.ratingblock {
	display:block;
	border:0px;
	text-align:center;
	padding:0px 0px 0px 0px;
	margin: 0px;
	}

.loading {
	height: 30px;
	background: url('working.gif') 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0pt auto;
	padding:0px;
	height: 30px;
	position: relative;
	background: url('starrating.gif') top left repeat-x;
	text-align:left;		
	}

.unit-rating li{
   	text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating li a:hover{
	background: url('starrating.gif') left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}

.unit-rating li.current-rating {
	background: url('starrating.gif') left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {color:#999;font-size:15px;font-weight: bold}
.showno {
color:#FF5A00;
font-size:20px;
font-family:Verdana,Arial,sans-serif,"Times New Roman",ËÎÌו;}
.thanks {color:#36AA3D;}
.static {color:#5D3126;}		


.box{BORDER: #ccc 1px solid;padding:0px;margin:0px}


#left{
	float: left;
	width: 200px;
	margin-right:6px;
}

#right{
	float: right;
	width: 200px;
}

#centers{
	float: left;
	width: 568px;
}

#centerm{
	float: left;
	width: 768px;
}

#centerl{
	float: left;
	width: 980px;
}

#content{

}

.main{
	width: 980px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.block{
	border: 1px solid #a4cded;
	margin-bottom: 5px;
}

.blocktitle{
CLEAR: both; BACKGROUND: url(sf-midbox-head.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}

.blocktitle h1{
PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.blockcontent{
CLEAR: both; BACKGROUND: url(sf-midbox-body.gif) repeat-y 50% top;padding-top:5px;BORDER-RIGHT: #acacac 1px solid; BORDER-LEFT: #acacac 1px solid
}

.blockcontent ul{
	LIST-STYLE-TYPE: none
}

.blockcontent ul li{
	text-align:left;
}

.cfooter{BACKGROUND: url(sf-midbox-foot.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px;margin-bottom:5px}

.blocklongtitle{
CLEAR: both; BACKGROUND: url(sf-longbox-head.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}

.blocklongtitle h1{
PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.blocklongcontent{
CLEAR: both; BACKGROUND: url() repeat-y 50% top;padding-top:5px;BORDER-RIGHT: #acacac 1px solid; BORDER-LEFT: #acacac 1px solid;text-align:left;
}

.lfooter{BACKGROUND: url(sf-longbox-foot.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px;margin-bottom:5px}

.blockmaintitle{
CLEAR: both; BACKGROUND: url(sf-mainbox-head1.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}

.blockmaintitle h1{
PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.blockmaincontent{
CLEAR: both; BACKGROUND: url(sf-mainbox-body1.gif) repeat-y 50% top;padding-top:5px;BORDER-RIGHT: #acacac 1px solid; BORDER-LEFT: #acacac 1px solid;text-align:left;
}

.mfooter{BACKGROUND: url(sf-mainbox-foot1.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px;margin-bottom:5px}


#left .blocktitle, #right .blocktitle{
BACKGROUND: url(lr-sidebox-head.gif) no-repeat 50% bottom; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px;BORDER:0px;
}

#left .blocktitle h1, #right .blocktitle h1{
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}

#left .blockcontent, #right .blockcontent{
BORDER-RIGHT: #acacac 1px solid; BACKGROUND: url(lr-sidebox-bg.gif) repeat-x 50% top; MARGIN: 0px; BORDER-LEFT: #acacac 1px solid
}

#left .blockcontent ul, #right .blockcontent ul{
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}

#left .blockcontent ul li, #right .blockcontent ul li{
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 16px; FONT-SIZE: 12px; BACKGROUND: url(sf-sidebox-arrow.gif) no-repeat left center; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px;text-align:left;
}

#left .blockcontent ul li A, #right .blockcontent ul li A{
HEIGHT: 16px
}

.bfooter{BACKGROUND: url(lr-sidebox-foot.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px;margin-bottom:5px}

.shi{
	color:#FF5A00;
	font-size:50px;
	font-style:italic;
	font-weight:900;
	left:0;
	line-height:70px;	
	}
.fen{
	color:#FF5A00;
	font-size:26px;
	font-style:italic;
	font-weight:bold;
	position:relative; top:-15px	
	}

.more{text-align: right;padding-right:10px}
.clear{clear:both;font-size:0;line-height:0;height:0;}
.span2{color:#CC3300; font-weight:600; font-size:14px;}
.picborder{padding:1px;border:1px solid #AAAAAA;}
.picborder:hover{padding:1px;border:1px solid #65a5c7;}

.index{width:980px;margin:0px;border:0px;padding:0px}

.PartA{float:left;width:760px;border:0px}
.PartA .head
{
	CLEAR: both; BACKGROUND: url(sf-mainbox-head.gif) no-repeat 50% top; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px
}
.PartA .head h1
{
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}

.PartA .body
{
	CLEAR: both; BACKGROUND: url(sf-mainbox-body.gif) repeat-y 50% top;TEXT-ALIGN:LEFT;
}

.PartA .body A
{
	text-decoration: none; color:#4A4A4A
}

.PartA .foot
{
	BACKGROUND: url(sf-mainbox-foot.gif) no-repeat 50% top; HEIGHT: 8px
}

.PartB{float:right;width:210px;display:block;}
.PartB .head
{
	BACKGROUND: url(sf-sidebox-head.gif) no-repeat 50% bottom; MARGIN: 0px; COLOR: #fff; HEIGHT: 30px;BORDER:0px;
}
.PartB .head h1
{
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(sf-tabbed-arrow.gif) no-repeat center top; FLOAT: left; MARGIN: 0px; PADDING-TOP: 8px
}
.PartB .head .rightmenu
{
	float:right;padding-right:2px;line-height:30px;
}
.PartB .head .rightmenu span
{
	padding-left:2px;padding-right:2px;border: #ffffff 1px solid;border-right: #ffffff 1px solid;height:30px;line-height:30px;Font-size:13px;margin-right:3px;padding-top:2px;font-weight: bold;cursor:hand
}

.PartB .head .rightmenu .onclick
{
	background:#FF8000;cursor:default;
}


.PartB .body
{
	BORDER-RIGHT: #acacac 1px solid; BACKGROUND: url(sf-sidebox-bg.gif) repeat-x 50% top; MARGIN: 0px; BORDER-LEFT: #acacac 1px solid;TEXT-ALIGN:LEFT;height:286px;
}

.PartB .body UL {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.PartB .body UL LI {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 16px; FONT-SIZE: 12px; BACKGROUND: url(sf-sidebox-arrow.gif) no-repeat left center; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
.PartB .body UL LI A {
	DISPLAY: block; HEIGHT: 16px
}
.PartB .body UL LI.line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 186px; PADDING-TOP: 0px; BORDER-BOTTOM: #9f9f9f 1px solid; HEIGHT: 1px
}
.PartB .body .pad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}

.PartB .foot
{
	BACKGROUND: url(sf-sidebox-foot.gif) no-repeat 50% top; MARGIN: 0px; HEIGHT: 10px;margin-bottom:1px;border:0px;
}


.update ul{ float:left;width:760px;overflow:hidden;}
.update ul li{ float:left; color:#000;width:760px; height:24px; line-height:24px; overflow:hidden;word-break:break-all;}
.update .li_back{ background:#f3f3f3;}
.update ul li a{color:#444;}
.update ul li a:hover{color:#e63c01;}
.update ul li span{ float:left;}
.update .title_top{ font-weight:bold; color:#000;  }
.update .Category{ width:70px; margin-left:4px; text-align:center;color:#3C3C3C}
.update .Title{width:490px;text-align: left;color:#3C3C3C}
.update .Author{width:105px;text-align: left;color:#3C3C3C}
.update .Time{width:91px;text-align:center;color:#3C3C3C}
.update .title_center{ text-align:center;}
.update ul li .Times{ font-size:14px; color:#257ec0;}
.update ul li .Times a{ font-size:14px; color:#257ec0;}
.update ul li .Times a:hover{text-decoration:none;}
